{%- if settings.menu.links.size > 0 and object.id > 0 -%}
    {%- assign breadcrumbs_menu_html = '' -%}
    {%- if request.page_type == 'collection' -%}
        {%- for link1 in settings.menu.links -%}
            {%- if link1.links.size > 0 -%}
                {%- for link2 in link1.links -%}
                    {%- if link2.links.size > 0 -%}
                        {%- for link3 in link2.links -%}
                            {%- if link3.object.id == object.id -%}
                                {%- capture breadcrumbs_menu_html -%}
                                <li class="breadcrumbs__item  ">
                                    {{ link1.title | link_to: link1.url }}
                                </li>
                                <li class="breadcrumbs__item  ">
                                    {{ link2.title | link_to: link2.url }}
                                </li>
                                <li class="breadcrumbs__item">
                                    {{ object.title | link_to: object.url }}
                                </li>
                                {%- endcapture -%}
                            {%- endif -%}
                            {%- if breadcrumbs_menu_html != '' -%}{%- break -%}{%- endif -%}
                        {%- endfor -%}
                        {%- if breadcrumbs_menu_html == '' and link2.object.id == object.id -%}
                            {%- capture breadcrumbs_menu_html -%}
                            <li class="breadcrumbs__item">
                                {{ link1.title | link_to: link1.url }}
                            </li>
                            {%- endcapture -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- if link2.object.id == object.id -%}
                            {%- capture breadcrumbs_menu_html -%}
                            <li class="breadcrumbs__item ">
                                {{ link1.title | link_to: link1.url }}
                            </li>
                            <li class="breadcrumbs__item ">
                                {{ object.title | link_to: object.url }}
                            </li>
                            {%- endcapture -%}
                        {%- endif -%}
                    {%- endif -%}
                    {%- if breadcrumbs_menu_html != '' -%}{%- break -%}{%- endif -%}
                {%- endfor -%}
            {%- else -%}
                {%- break -%}
            {%- endif -%}
            {%- if breadcrumbs_menu_html != '' -%}{%- break -%}{%- endif -%}
        {%- endfor -%}
    {%- elsif request.page_type == 'product' -%}
    {%- assign product_collections_ids = object.collections | map: 'id' -%}
    {%- for link1 in settings.menu.links -%}
        {%- if link1.links.size > 0 -%}
            {%- for link2 in link1.links -%}
                {%- if link2.links.size > 0 -%}
                {%- for link3 in link2.links -%}
                    {%- if product_collections_ids contains link3.object.id -%}
                        {%- capture breadcrumbs_menu_html -%}
                        <li class="breadcrumbs__item ">
                            {{ link1.title | link_to: link1.url }}
                        </li>
                        <li class="breadcrumbs__item ">
                            {{ link2.title | link_to: link2.url }}
                        </li>
                        <li class="breadcrumbs__item ">
                            {{ link3.title | link_to: link3.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {{ object.title  }}
                        </li>
                        {%- endcapture -%}
                    {%- endif -%}
                    {%- if breadcrumbs_menu_html != '' -%}{%- break -%}{%- endif -%}
                {%- endfor -%}
                    {%- if breadcrumbs_menu_html == '' and product_collections_ids contains link2.object.id -%}
                        {%- capture breadcrumbs_menu_html -%}
                        <li class="breadcrumbs__item  ">
                            {{ link1.title | link_to: link1.url }}
                        </li>
                        <li class="breadcrumbs__item  ">
                            {{ link2.title | link_to: link2.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {{ object.title  }}
                        </li>
                        {%- endcapture -%}
                    {%- endif -%}
                {%- else -%}
                    {%- if product_collections_ids contains link2.object.id -%}
                        {%- capture breadcrumbs_menu_html -%}
                        <li class="breadcrumbs__item">
                            {{ link1.title | link_to: link1.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {{ link2.title | link_to: link2.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {{ object.title  }}
                        </li>
                        {%- endcapture -%}
                    {%- endif -%}
                {%- endif -%}
                {%- if breadcrumbs_menu_html != '' -%}{%- break -%}{%- endif -%}
            {%- endfor -%}
                {%- if breadcrumbs_menu_html == '' and product_collections_ids contains link1.object.id -%}
                    {%- capture breadcrumbs_menu_html -%}
                        <li class="breadcrumbs__item">
                            {{ link1.title | link_to: link1.url }}
                        </li>
                        <li class="breadcrumbs__item">
                            {{ object.title  }}
                        </li>
                    {%- endcapture -%}
                {%- endif -%}
            {%- else -%}
                {%- if product_collections_ids contains link1.object.id -%}
                    {%- capture breadcrumbs_menu_html -%}
                        <li class="breadcrumbs__item">
                            {{ link1.title | link_to: link1.url }}
                        </li>
                    {%- endcapture -%}        
                {%- endif -%}
            {%- endif -%}
            {%- if breadcrumbs_menu_html != '' -%}{%- break -%}{%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {{- breadcrumbs_menu_html -}}
    {%- endif -%}

    {%- if request.page_type == 'collection' -%}
        <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "Home",
              "item": "{{ shop.url }}"
            },
            {
                "@type": "ListItem",
                "position": {{ itemCount }},
                "name": "{{ collection.title }}",
                "item": "{{ shop.url }}{{ collection.url }}"
              }
          ]
        }
        </script>
        

    {% endif %}   
    {% if request.page_type == 'page' %}
        <script type = "application/ld+json"> 
            {
                "@context": "https://schema.org/",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Home",
                        "item": "{{ shop.url }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "{{ page.title }}",
                        "item": "{{ shop.url }}{{ page.url }}"
                    }
                ]
            } 
      </script>
    {% endif %}  


    {% if request.page_type == 'product' %}


<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://total-supply-nz-prod.myshopify.com/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ product.title }}",
      "item": "{{ shop.url }}{{ product.url }}"
    }
  ]
}
</script>

      {% endif %}