<style>.bord-st--{{section.id}} {height:{{section.settings.hd_border}}px; border: {{section.settings.border_line}}px {{section.settings.div_style}};border-radius: {{section.settings.border_rad}}px;}  .page-divider--{{section.id}}{opacity: 0;color: {{ section.settings.hd_border_color }};}.active-divider{opacity: 1;}
@media only screen and (max-width: 749px) {
  
  .small--hide {
    display: none !important; }
}
@media only screen and (min-width: 750px) {
  .medium-up--hide {
    display: none !important; }  
}
</style>  
{% assign halfmarg = 100 | minus: section.settings.div_width | divided_by: 2 %}
  {% assign show_border = section.show_border %}
  {% assign divider_border = section.settings.divider_border %}
  {% assign divider_spacing = section.settings.divider_spacing %} 
<div class="container {{section.settings.divider-visibility }}" style="padding: 0;">
  <div class="sixteen columns">
    <hr width="{{section.settings.div_width}}%" class="page-divider--{{section.id}} {% if divider_border %}active-divider bord-st--{{section.id}}{% endif %}" style=" margin-left:{{halfmarg}}% !important; margin-right:{{halfmarg}}% !important;{% if divider_spacing %}margin: {{ divider_spacing }}px 0px;{% endif %}">
  </div>
</div>