{% comment %}
  Renders a mega menu list and optional "more" menu links.
  When more menu links are present a duplicate instance of each submenu is also rendered.

  Accepts:
  - parent_link {linklist}: The linklist to render
  - id {string}: Unique ID to assign ul in markup
  - menu_content_type {string}: The type of content to render, options: ['featured_products', 'featured_collections', 'collection_images', 'text'] (default: 'text')
  - content_aspect_ratio {number}: The aspect ratio to display the content if applicable (optional)
  - image_border_radius {number}: The border radius used for the content images (optional)
{% endcomment %}

<div class="mega-menu section section--full-width-margin section--{{ section.settings.section_width }}" data-parent-link="{{ parent_link }}">
  
    {% if block.settings.menu_type == 'tab' %}
      {% render 'mega-menu-vertical-navigation',
        menu: parent_link,
        id: id,
        menu_content_type: menu_content_type,
        block: block,
        target_link_title: target_link_title,
        products_mega_menu: products_mega_menu,
        collections_mega_menu: collections_mega_menu,
        menu_vertical_navigation: true,
        promo_card_number: promo_card_number
      %}
      {{ blocks }}
    {% else %}
    
      <div
        class="mega-menu__grid 11"
        data-menu-grid-id="MegaMenuList-{{parent_link.links.size}}-{{ parent_link }}"
      > 
        {% assign id = "MegaMenuList-{{ parent_link.links.size }}" %}
      {% render 'mega-menu-list',
        parent_link: parent_link,
        id: parent_link.links.size,
        grid_columns_count: 5,
        grid_columns_count_tablet: 4,
        grid_columns_count_collection_images: 8,
        menu_content_type: menu_content_type,
        content_aspect_ratio: content_aspect_ratio,
        image_border_radius: image_border_radius,
        products_mega_menu: products_mega_menu,
        collections_mega_menu: collections_mega_menu,
        promo_card_number: promo_card_number,
        extra_blocks: blocks,
        menu_width: menu_width,
        dropdwon_split_columns: dropdwon_split_columns
      %}

    </div>
 
    {% endif %}
  

</div>
