

{% assign icon_block_class = 'icon-block__media icon-block-' | append: block.id %}

{% capture icon %}
  {%- if block.settings.icon != 'none' and block.settings.image_upload == blank -%}
    <svg
      class="{{ icon_block_class }}"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      width="{{ block.settings.width }}"
      height="{{ block.settings.width }}"
      viewBox="0 0 20 20"
      {{ block.shopify_attributes }}
    >
      {%- render 'icon', icon: block.settings.icon -%}
    </svg>
  {%- elsif block.settings.image_upload != blank -%}
    {% liquid
      assign media_width_desktop = '100vw'
      assign media_width_mobile = '100vw'
      assign sizes = '(min-width: 1024px) 1024px, ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
      assign widths = '300, 375, 450, 525, 600, 675, 750, 768, 850, 900, 1024'
    %}

    {% assign image_style = 'width: ' | append: block.settings.width | append: 'px;' %}
    {{
      block.settings.image_upload
      | image_url: width: 1024
      | image_tag:
        widths: widths,
        class: icon_block_class,
        style: image_style,
        sizes: sizes
    }}
  {%- endif -%}
{% endcapture %}
{% capture icon_2 %}
    {%- if block.settings.icon_2 != 'none' and block.settings.image_upload_2 == blank -%}
      <svg
        class="{{ icon_block_class }}"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="{{ block.settings.width_2 }}"
        height="{{ block.settings.width_2 }}"
        viewBox="0 0 20 20"
        {{ block.shopify_attributes }}
      >
        {%- render 'icon', icon: block.settings.icon_2 -%}
      </svg>
    {%- elsif block.settings.image_upload_2 != blank -%}
      {% liquid
        assign media_width_desktop = '100vw'
        assign media_width_mobile = '100vw'
        assign sizes = '(min-width: 1024px) 1024px, ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
        assign widths = '300, 375, 450, 525, 600, 675, 750, 768, 850, 900, 1024'
      %}
  
      {% assign image_style = 'width: ' | append: block.settings.width_2 | append: 'px;' %}
      {{
        block.settings.image_upload_2
        | image_url: width: 1024
        | image_tag:
          widths: widths,
          class: icon_block_class,
          style: image_style,
          sizes: sizes
      }}
    {%- endif -%}
  {% endcapture %}
  {% capture icon_3 %}
    {%- if block.settings.icon_3 != 'none' and block.settings.image_upload_3 == blank -%}
      <svg
        class="{{ icon_block_class }}"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="{{ block.settings.width_3 }}"
        height="{{ block.settings.width_3 }}"
        viewBox="0 0 20 20"
        {{ block.shopify_attributes }}
      >
        {%- render 'icon', icon: block.settings.icon_3 -%}
      </svg>
    {%- elsif block.settings.image_upload_3 != blank -%}
      {% liquid
        assign media_width_desktop = '100vw'
        assign media_width_mobile = '100vw'
        assign sizes = '(min-width: 1024px) 1024px, ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
        assign widths = '300, 375, 450, 525, 600, 675, 750, 768, 850, 900, 1024'
      %}
  
      {% assign image_style = 'width: ' | append: block.settings.width_3 | append: 'px;' %}
      {{
        block.settings.image_upload_3
        | image_url: width: 1024
        | image_tag:
          widths: widths,
          class: icon_block_class,
          style: image_style,
          sizes: sizes
      }}
    {%- endif -%}
  {% endcapture %}




<div
    class="
      group-block
      group-block--height-{{ block.settings.height }}
      group-block--width-{{ block.settings.width }}
      border-style
      spacing-style
      size-style
      mobile-hide
      desktop-hide
      custom-announcement-bar-link-block
      {% if block.settings.inherit_color_scheme == false %} color-{{ block.settings.color_scheme }}{% endif %}
      {{ class }}
    "
    style="
      {% render 'border-override', settings: block.settings %}
      {% render 'spacing-style', settings: block.settings %}
      {% render 'size-style', settings: block.settings %}
      {{ style }}
    "
    {{ shopify_attributes }}
    data-testid="group-block"
  >
    
    <div class="group-block__media-wrapper">
      {% render 'background-media',
        background_media: block.settings.background_media,
        background_video: block.settings.video,
        background_video_position: block.settings.video_position,
        background_image: block.settings.background_image,
        background_image_position: settings.background_image_position
      %}
      {% if block.settings.toggle_overlay %}
        {% render 'overlay', settings: block.settings, layer: '0' %}
      {% endif %}
    </div>

  
 

    <div
      class="
        group-block-content
        {% if request.design_mode %}group-block-content--design-mode{% endif %}
        layout-panel-flex
        layout-panel-flex--{{ block.settings.content_direction | default: 'column' }}
        {% if block.settings.vertical_on_mobile %} mobile-column{% endif %}
      "
      style="{% render 'layout-panel-style', settings: block.settings %}"
    >
        {%- if block.settings.link != blank -%}
          <slideshow-slide
            ref="slides[]"
            class="
              announcement-bar__slide
              text-block
              text-block--{{ block.id }}
              text-block--align-center
              text-block--full-width
              custom-typography
              {% if block.settings.font_size != "" %}custom-font-size{% endif %}
              {% if block.settings.weight != "" %}custom-font-weight{% endif %}
            ">
            <a
              href="{{ block.settings.link }}"
              class="text-inherit"
              {% if block.settings.open_in_new_tab %}
                target="_blank" rel="noopener"
              {% endif %}
            >
              <div class="icon-block announcement-link">
                {{ icon }} {{ block.settings.text }}
              </div>
            </a>
          </slideshow-slide>
          {%- else -%}
            <slideshow-slide
              ref="slides[]"
              class="
                announcement-bar__slide
                text-block
                text-block--{{ block.id }}
                text-block--align-center
                text-block--full-width
                custom-typography
                {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                {% if block.settings.weight != "" %}custom-font-weight{% endif %}
              ">
            <div class="icon-block announcement-link">
              {{ icon }}{{ block.settings.text }}
            </div>
            </slideshow-slide>
          {%- endif -%}
          
          {%- if block.settings.link_2 != blank -%}
            <slideshow-slide
              ref="slides[]"
              class="
                announcement-bar__slide
                text-block
                text-block--{{ block.id }}
                text-block--align-center
                text-block--full-width
                custom-typography
                {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                {% if block.settings.weight != "" %}custom-font-weight{% endif %}
              ">
              <a
                href="{{ block.settings.link_2 }}"
                class="text-inherit"
                {% if block.settings.open_in_new_tab %}
                  target="_blank" rel="noopener"
                {% endif %}
              >
              <div class="icon-block announcement-link">
                {{ icon_2 }} {{ block.settings.text_2 }}
              </div>
              </a>
            </slideshow-slide>
            {%- else -%}
              <slideshow-slide
                ref="slides[]"
                class="
                  announcement-bar__slide
                  text-block
                  text-block--{{ block.id }}
                  text-block--align-center
                  text-block--full-width
                  custom-typography
                  {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                  {% if block.settings.weight != "" %}custom-font-weight{% endif %}
                ">
              <div class="icon-block announcement-link">
                {{ icon_2 }}{{ block.settings.text_2 }}
              </div>
              </slideshow-slide>
            {%- endif -%}
            {%- if block.settings.link_3 != blank -%}
              <slideshow-slide
                ref="slides[]"
                class="
                  announcement-bar__slide
                  text-block
                  text-block--{{ block.id }}
                  text-block--align-center
                  text-block--full-width
                  custom-typography
                  {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                  {% if block.settings.weight != "" %}custom-font-weight{% endif %}
                ">
              <a
                href="{{ block.settings.link_3 }}"
                class="text-inherit"
                {% if block.settings.open_in_new_tab %}
                  target="_blank" rel="noopener"
                {% endif %}
              >
                <div class="icon-block announcement-link">
                  {{ icon_3 }} {{ block.settings.text_3 }}
                </div>
              </a>
              </slideshow-slide>
            {%- else -%}
              <slideshow-slide
                ref="slides[]"
                class="
                  announcement-bar__slide
                  text-block
                  text-block--{{ block.id }}
                  text-block--align-center
                  text-block--full-width
                  custom-typography
                  {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                  {% if block.settings.weight != "" %}custom-font-weight{% endif %}
                ">
              <div class="icon-block announcement-link">
              {{ icon_3 }}{{ block.settings.text_3 }}
              </div>
              </slideshow-slide>
            {%- endif -%}
    </div>
  </div>

  <script
    src="{{ 'announcement-bar.js' | asset_url }}"
    type="module"
  ></script>

<announcement-bar-component
  class="announcement-bar__slider custom_bar_slider" autoplay="{{ block.settings.speed }}" aria-live="polite">

  {% if block.settings.show_arrows %}
    {% render 'slideshow-arrows', icon_style: 'chevron' %}
  {% endif %}


  <div class="announcement-bar__slides">


    {%- if block.settings.link != blank -%}
      <slideshow-slide
        ref="slides[]"
        class="
          announcement-bar__slide
          text-block
          text-block--{{ block.id }}
          text-block--align-center
          text-block--full-width
          custom-typography
          {% if block.settings.font_size != "" %}custom-font-size{% endif %}
          {% if block.settings.weight != "" %}custom-font-weight{% endif %}
        "
        aria-hidden="false">
        <a
          href="{{ block.settings.link }}"
          class="text-inherit"
          {% if block.settings.open_in_new_tab %}
            target="_blank" rel="noopener"
          {% endif %}
        >
          <div class="icon-block announcement-link">
            {{ icon }} {{ block.settings.text }}
          </div>
        </a>
      </slideshow-slide>
    {%- else -%}
       {% if icon != blank  or block.settings.text != blank %}
        <slideshow-slide
          ref="slides[]"
          class="
            announcement-bar__slide
            text-block
            text-block--{{ block.id }}
            text-block--align-center
            text-block--full-width
            custom-typography
            {% if block.settings.font_size != "" %}custom-font-size{% endif %}
            {% if block.settings.weight != "" %}custom-font-weight{% endif %}
          "
          aria-hidden="{% if block_index == 0 %}false{% else %}true{% endif %}">
        <div class="icon-block announcement-link">
          {{ icon }}{{ block.settings.text }}
        </div>
        </slideshow-slide>
      {% endif %}
    {%- endif -%}
      
      {%- if block.settings.link_2 != blank -%}
        <slideshow-slide
          ref="slides[]"
          class="
            announcement-bar__slide
            text-block
            text-block--{{ block.id }}
            text-block--align-center
            text-block--full-width
            custom-typography
            {% if block.settings.font_size != "" %}custom-font-size{% endif %}
            {% if block.settings.weight != "" %}custom-font-weight{% endif %}
          "
          aria-hidden="{% if block_index == 0 %}false{% else %}true{% endif %}">
          <a
            href="{{ block.settings.link_2 }}"
            class="text-inherit"
            {% if block.settings.open_in_new_tab %}
              target="_blank" rel="noopener"
            {% endif %}
          >
          <div class="icon-block announcement-link">
            {{ icon_2 }} {{ block.settings.text_2 }}
          </div>
          </a>
        </slideshow-slide>
        {%- else -%}
          {% if icon_2 != blank  or block.settings.text_2 != blank %}
            <slideshow-slide
              ref="slides[]"
              class="
                announcement-bar__slide
                text-block
                text-block--{{ block.id }}
                text-block--align-center
                text-block--full-width
                custom-typography
                {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                {% if block.settings.weight != "" %}custom-font-weight{% endif %}
              "
              aria-hidden="{% if block_index == 0 %}false{% else %}true{% endif %}">
            <div class="icon-block announcement-link">
              {{ icon_2 }}{{ block.settings.text_2 }}
            </div>
            </slideshow-slide>
          {% endif %}
        {%- endif -%}
        {%- if block.settings.link_3 != blank -%}
          <slideshow-slide
            ref="slides[]"
            class="
              announcement-bar__slide
              text-block
              text-block--{{ block.id }}
              text-block--align-center
              text-block--full-width
              custom-typography
              {% if block.settings.font_size != "" %}custom-font-size{% endif %}
              {% if block.settings.weight != "" %}custom-font-weight{% endif %}
            "
            aria-hidden="{% if block_index == 0 %}false{% else %}true{% endif %}">
          <a
            href="{{ block.settings.link_3 }}"
            class="text-inherit"
            {% if block.settings.open_in_new_tab %}
              target="_blank" rel="noopener"
            {% endif %}
          >
            <div class="icon-block announcement-link">
              {{ icon_3 }} {{ block.settings.text_3 }}
            </div>
          </a>
          </slideshow-slide>
        {%- else -%}
          {% if icon_3 != blank  or block.settings.text_3 != blank %}
            <slideshow-slide
              ref="slides[]"
              class="
                announcement-bar__slide
                text-block
                text-block--{{ block.id }}
                text-block--align-center
                text-block--full-width
                custom-typography
                {% if block.settings.font_size != "" %}custom-font-size{% endif %}
                {% if block.settings.weight != "" %}custom-font-weight{% endif %}
              "
              aria-hidden="{% if block_index == 0 %}false{% else %}true{% endif %}">
            <div class="icon-block announcement-link">
            {{ icon_3 }}{{ block.settings.text_3 }}
            </div>
            </slideshow-slide>
          {% endif %}
        {%- endif -%}


  </div>
</announcement-bar-component>
  
  <style>

    .announcement-bar__slider.custom_bar_slider {
     width: 100%;
     display: none;
    }
    @media (max-width: 768px) {
      .custom-announcement-bar-link-block {
        display: none;
      }
      .announcement-bar__slider.custom_bar_slider {
        display: grid;
      }
      .icon-block.announcement-link{
      width: 100%;
      }
    }
   
    .group-block__link {
      position: absolute;
      inset: 0;
    }
  
    .group-block__link ~ :is(.group-block-content, .group-block__media-wrapper) {
      pointer-events: none;
      a,
      button,
      input,
      textarea,
      select {
        pointer-events: auto;
      }
    }
  
    /* Needs the .group-block__link ~ to be specific enough to take effect. */
    .group-block__link ~ .group-block-content--design-mode {
      pointer-events: auto;
    }
  </style>

{% stylesheet %}
  .icon-block.announcement-link {
    display: flex;
    fill: currentcolor;
    flex-shrink: 0;
    gap:10px;
    align-items: center;
    align-content: center;


  }
  .icon-block__media {
    height: auto;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Link",
  "class": "icon-block announcement-link",
  "settings": [
    {
        "type": "header",
        "content": "t:content.layout"
      },
      {
        "type": "select",
        "id": "content_direction",
        "label": "t:settings.direction",
        "options": [
          {
            "value": "column",
            "label": "t:options.vertical"
          },
          {
            "value": "row",
            "label": "t:options.horizontal"
          }
        ],
        "default": "column"
      },
     
      {
        "type": "range",
        "id": "gap",
        "label": "t:settings.gap",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 12
      },
      {
        "type": "header",
        "content": "Slideshow Mobile view"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show Arrows",
        "default": true
      },
      {
        "type": "range",
        "id": "speed",
        "label": "t:settings.speed",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "s",
        "default": 5
      },
     { 
      "type": "header",
        "content": "Link"
     },
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "apple",
          "label": "t:options.apple"
        },
        {
          "value": "arrow",
          "label": "t:options.arrow"
        },
        {
          "value": "banana",
          "label": "t:options.banana"
        },
        {
          "value": "bottle",
          "label": "t:options.bottle"
        },
        {
          "value": "box",
          "label": "t:options.box"
        },
        {
          "value": "carrot",
          "label": "t:options.carrot"
        },
        {
          "value": "chat_bubble",
          "label": "t:options.chat_bubble"
        },
        {
          "value": "check_box",
          "label": "t:options.check_box"
        },
        {
          "value": "clipboard",
          "label": "t:options.clipboard"
        },
        {
          "value": "dairy",
          "label": "t:options.dairy"
        },
        {
          "value": "dairy_free",
          "label": "t:options.dairy_free"
        },
        {
          "value": "dryer",
          "label": "t:options.dryer"
        },
        {
          "value": "eye",
          "label": "t:options.eye"
        },
        {
          "value": "fire",
          "label": "t:options.fire"
        },
        {
          "value": "gluten_free",
          "label": "t:options.gluten_free"
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "iron",
          "label": "t:options.iron"
        },
        {
          "value": "leaf",
          "label": "t:options.leaf"
        },
        {
          "value": "leather",
          "label": "t:options.leather"
        },
        {
          "value": "lightning_bolt",
          "label": "t:options.lightning_bolt"
        },
        {
          "value": "lipstick",
          "label": "t:options.lipstick"
        },
        {
          "value": "lock",
          "label": "t:options.lock"
        },
        {
          "value": "map_pin",
          "label": "t:options.map_pin"
        },
        {
          "value": "nut_free",
          "label": "t:options.nut_free"
        },
        {
          "value": "pants",
          "label": "t:options.pants"
        },
        {
          "value": "paw_print",
          "label": "t:options.paw_print"
        },
        {
          "value": "pepper",
          "label": "t:options.pepper"
        },
        {
          "value": "perfume",
          "label": "t:options.perfume"
        },
        {
          "value": "plane",
          "label": "t:options.plane"
        },
        {
          "value": "plant",
          "label": "t:options.plant"
        },
        {
          "value": "price_tag",
          "label": "t:options.price_tag"
        },
        {
          "value": "question_mark",
          "label": "t:options.question_mark"
        },
        {
          "value": "recycle",
          "label": "t:options.recycle"
        },
        {
          "value": "return",
          "label": "t:options.return"
        },
        {
          "value": "ruler",
          "label": "t:options.ruler"
        },
        {
          "value": "serving_dish",
          "label": "t:options.serving_dish"
        },
        {
          "value": "shirt",
          "label": "t:options.shirt"
        },
        {
          "value": "shoe",
          "label": "t:options.shoe"
        },
        {
          "value": "silhouette",
          "label": "t:options.silhouette"
        },
        {
          "value": "bluesky",
          "label": "t:options.social_bluesky"
        },
        {
          "value": "facebook",
          "label": "t:options.social_facebook"
        },
        {
          "value": "instagram",
          "label": "t:options.social_instagram"
        },
        {
          "value": "linkedin",
          "label": "t:options.social_linkedin"
        },
        {
          "value": "pinterest",
          "label": "t:options.social_pinterest"
        },
        {
          "value": "snapchat",
          "label": "t:options.social_snapchat"
        },
        {
          "value": "spotify",
          "label": "t:options.social_spotify"
        },
        {
          "value": "threads",
          "label": "t:options.social_threads"
        },
        {
          "value": "tiktok",
          "label": "t:options.social_tiktok"
        },
        {
          "value": "tumblr",
          "label": "t:options.social_tumblr"
        },
        {
          "value": "twitter",
          "label": "t:options.social_twitter"
        },
        {
          "value": "vimeo",
          "label": "t:options.social_vimeo"
        },
        {
          "value": "youtube",
          "label": "t:options.social_youtube"
        },
        {
          "value": "whatsapp",
          "label": "t:options.social_whatsapp"
        },
        {
          "value": "snowflake",
          "label": "t:options.snowflake"
        },
        {
          "value": "star",
          "label": "t:options.star"
        },
        {
          "value": "stopwatch",
          "label": "t:options.stopwatch"
        },
        {
          "value": "truck",
          "label": "t:options.truck"
        },
        {
          "value": "washing",
          "label": "t:options.washing"
        }
      ],
      "default": "apple"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:settings.image_icon"
    },
    {
      "type": "range",
      "id": "width",
      "label": "t:settings.width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Text"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "t:settings.open_new_tab",
      "default": false
    },
    { "type": "header",
        "content": "Link"
     },
    {
        "type": "select",
        "id": "icon_2",
        "label": "t:settings.icon",
        "options": [
          {
            "value": "none",
            "label": "t:options.none"
          },
          {
            "value": "apple",
            "label": "t:options.apple"
          },
          {
            "value": "arrow",
            "label": "t:options.arrow"
          },
          {
            "value": "banana",
            "label": "t:options.banana"
          },
          {
            "value": "bottle",
            "label": "t:options.bottle"
          },
          {
            "value": "box",
            "label": "t:options.box"
          },
          {
            "value": "carrot",
            "label": "t:options.carrot"
          },
          {
            "value": "chat_bubble",
            "label": "t:options.chat_bubble"
          },
          {
            "value": "check_box",
            "label": "t:options.check_box"
          },
          {
            "value": "clipboard",
            "label": "t:options.clipboard"
          },
          {
            "value": "dairy",
            "label": "t:options.dairy"
          },
          {
            "value": "dairy_free",
            "label": "t:options.dairy_free"
          },
          {
            "value": "dryer",
            "label": "t:options.dryer"
          },
          {
            "value": "eye",
            "label": "t:options.eye"
          },
          {
            "value": "fire",
            "label": "t:options.fire"
          },
          {
            "value": "gluten_free",
            "label": "t:options.gluten_free"
          },
          {
            "value": "heart",
            "label": "t:options.heart"
          },
          {
            "value": "iron",
            "label": "t:options.iron"
          },
          {
            "value": "leaf",
            "label": "t:options.leaf"
          },
          {
            "value": "leather",
            "label": "t:options.leather"
          },
          {
            "value": "lightning_bolt",
            "label": "t:options.lightning_bolt"
          },
          {
            "value": "lipstick",
            "label": "t:options.lipstick"
          },
          {
            "value": "lock",
            "label": "t:options.lock"
          },
          {
            "value": "map_pin",
            "label": "t:options.map_pin"
          },
          {
            "value": "nut_free",
            "label": "t:options.nut_free"
          },
          {
            "value": "pants",
            "label": "t:options.pants"
          },
          {
            "value": "paw_print",
            "label": "t:options.paw_print"
          },
          {
            "value": "pepper",
            "label": "t:options.pepper"
          },
          {
            "value": "perfume",
            "label": "t:options.perfume"
          },
          {
            "value": "plane",
            "label": "t:options.plane"
          },
          {
            "value": "plant",
            "label": "t:options.plant"
          },
          {
            "value": "price_tag",
            "label": "t:options.price_tag"
          },
          {
            "value": "question_mark",
            "label": "t:options.question_mark"
          },
          {
            "value": "recycle",
            "label": "t:options.recycle"
          },
          {
            "value": "return",
            "label": "t:options.return"
          },
          {
            "value": "ruler",
            "label": "t:options.ruler"
          },
          {
            "value": "serving_dish",
            "label": "t:options.serving_dish"
          },
          {
            "value": "shirt",
            "label": "t:options.shirt"
          },
          {
            "value": "shoe",
            "label": "t:options.shoe"
          },
          {
            "value": "silhouette",
            "label": "t:options.silhouette"
          },
          {
            "value": "bluesky",
            "label": "t:options.social_bluesky"
          },
          {
            "value": "facebook",
            "label": "t:options.social_facebook"
          },
          {
            "value": "instagram",
            "label": "t:options.social_instagram"
          },
          {
            "value": "linkedin",
            "label": "t:options.social_linkedin"
          },
          {
            "value": "pinterest",
            "label": "t:options.social_pinterest"
          },
          {
            "value": "snapchat",
            "label": "t:options.social_snapchat"
          },
          {
            "value": "spotify",
            "label": "t:options.social_spotify"
          },
          {
            "value": "threads",
            "label": "t:options.social_threads"
          },
          {
            "value": "tiktok",
            "label": "t:options.social_tiktok"
          },
          {
            "value": "tumblr",
            "label": "t:options.social_tumblr"
          },
          {
            "value": "twitter",
            "label": "t:options.social_twitter"
          },
          {
            "value": "vimeo",
            "label": "t:options.social_vimeo"
          },
          {
            "value": "youtube",
            "label": "t:options.social_youtube"
          },
          {
            "value": "whatsapp",
            "label": "t:options.social_whatsapp"
          },
          {
            "value": "snowflake",
            "label": "t:options.snowflake"
          },
          {
            "value": "star",
            "label": "t:options.star"
          },
          {
            "value": "stopwatch",
            "label": "t:options.stopwatch"
          },
          {
            "value": "truck",
            "label": "t:options.truck"
          },
          {
            "value": "washing",
            "label": "t:options.washing"
          }
        ],
        "default": "apple"
      },
      {
        "type": "image_picker",
        "id": "image_upload_2",
        "label": "t:settings.image_icon"
      },
      {
        "type": "range",
        "id": "width_2",
        "label": "t:settings.width",
        "min": 12,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 24
      },
      {
        "type": "url",
        "id": "link_2",
        "label": "t:settings.link"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Text",
        "default": "Text"
      },
      {
        "type": "checkbox",
        "id": "open_in_new_tab_2",
        "label": "t:settings.open_new_tab",
        "default": false
      },
      { "type": "header",
         "content": "Link"
      },
      {
        "type": "select",
        "id": "icon_3",
        "label": "t:settings.icon",
        "options": [
          {
            "value": "none",
            "label": "t:options.none"
          },
          {
            "value": "apple",
            "label": "t:options.apple"
          },
          {
            "value": "arrow",
            "label": "t:options.arrow"
          },
          {
            "value": "banana",
            "label": "t:options.banana"
          },
          {
            "value": "bottle",
            "label": "t:options.bottle"
          },
          {
            "value": "box",
            "label": "t:options.box"
          },
          {
            "value": "carrot",
            "label": "t:options.carrot"
          },
          {
            "value": "chat_bubble",
            "label": "t:options.chat_bubble"
          },
          {
            "value": "check_box",
            "label": "t:options.check_box"
          },
          {
            "value": "clipboard",
            "label": "t:options.clipboard"
          },
          {
            "value": "dairy",
            "label": "t:options.dairy"
          },
          {
            "value": "dairy_free",
            "label": "t:options.dairy_free"
          },
          {
            "value": "dryer",
            "label": "t:options.dryer"
          },
          {
            "value": "eye",
            "label": "t:options.eye"
          },
          {
            "value": "fire",
            "label": "t:options.fire"
          },
          {
            "value": "gluten_free",
            "label": "t:options.gluten_free"
          },
          {
            "value": "heart",
            "label": "t:options.heart"
          },
          {
            "value": "iron",
            "label": "t:options.iron"
          },
          {
            "value": "leaf",
            "label": "t:options.leaf"
          },
          {
            "value": "leather",
            "label": "t:options.leather"
          },
          {
            "value": "lightning_bolt",
            "label": "t:options.lightning_bolt"
          },
          {
            "value": "lipstick",
            "label": "t:options.lipstick"
          },
          {
            "value": "lock",
            "label": "t:options.lock"
          },
          {
            "value": "map_pin",
            "label": "t:options.map_pin"
          },
          {
            "value": "nut_free",
            "label": "t:options.nut_free"
          },
          {
            "value": "pants",
            "label": "t:options.pants"
          },
          {
            "value": "paw_print",
            "label": "t:options.paw_print"
          },
          {
            "value": "pepper",
            "label": "t:options.pepper"
          },
          {
            "value": "perfume",
            "label": "t:options.perfume"
          },
          {
            "value": "plane",
            "label": "t:options.plane"
          },
          {
            "value": "plant",
            "label": "t:options.plant"
          },
          {
            "value": "price_tag",
            "label": "t:options.price_tag"
          },
          {
            "value": "question_mark",
            "label": "t:options.question_mark"
          },
          {
            "value": "recycle",
            "label": "t:options.recycle"
          },
          {
            "value": "return",
            "label": "t:options.return"
          },
          {
            "value": "ruler",
            "label": "t:options.ruler"
          },
          {
            "value": "serving_dish",
            "label": "t:options.serving_dish"
          },
          {
            "value": "shirt",
            "label": "t:options.shirt"
          },
          {
            "value": "shoe",
            "label": "t:options.shoe"
          },
          {
            "value": "silhouette",
            "label": "t:options.silhouette"
          },
          {
            "value": "bluesky",
            "label": "t:options.social_bluesky"
          },
          {
            "value": "facebook",
            "label": "t:options.social_facebook"
          },
          {
            "value": "instagram",
            "label": "t:options.social_instagram"
          },
          {
            "value": "linkedin",
            "label": "t:options.social_linkedin"
          },
          {
            "value": "pinterest",
            "label": "t:options.social_pinterest"
          },
          {
            "value": "snapchat",
            "label": "t:options.social_snapchat"
          },
          {
            "value": "spotify",
            "label": "t:options.social_spotify"
          },
          {
            "value": "threads",
            "label": "t:options.social_threads"
          },
          {
            "value": "tiktok",
            "label": "t:options.social_tiktok"
          },
          {
            "value": "tumblr",
            "label": "t:options.social_tumblr"
          },
          {
            "value": "twitter",
            "label": "t:options.social_twitter"
          },
          {
            "value": "vimeo",
            "label": "t:options.social_vimeo"
          },
          {
            "value": "youtube",
            "label": "t:options.social_youtube"
          },
          {
            "value": "whatsapp",
            "label": "t:options.social_whatsapp"
          },
          {
            "value": "snowflake",
            "label": "t:options.snowflake"
          },
          {
            "value": "star",
            "label": "t:options.star"
          },
          {
            "value": "stopwatch",
            "label": "t:options.stopwatch"
          },
          {
            "value": "truck",
            "label": "t:options.truck"
          },
          {
            "value": "washing",
            "label": "t:options.washing"
          }
        ],
        "default": "apple"
      },
      {
        "type": "image_picker",
        "id": "image_upload_3",
        "label": "t:settings.image_icon"
      },
      {
        "type": "range",
        "id": "width_3",
        "label": "t:settings.width",
        "min": 12,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 24
      },
      {
        "type": "url",
        "id": "link_3",
        "label": "t:settings.link"
      },
      {
        "type": "text",
        "id": "text_3",
        "label": "Text",
        "default": "Text"
      },
      {
        "type": "checkbox",
        "id": "open_in_new_tab_3",
        "label": "t:settings.open_new_tab",
        "default": false
      }
  ],
  "presets": [
    {
      "name": "Link",
      "category": "t:categories.basic",
      "settings": {
        "icon": "price_tag"
      }
    }
  ]
}
{% endschema %}
