<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div class="breadcrumb-wrap section padding_{{ section.id }} color-{{ section.settings.color_scheme }}">
    {% render 'breadcrumb' %}
</div>

{% style %}
  @media(min-width:992px){
      .padding_{{ section.id }}{
          padding-top:{{section.settings.padding_top}}px;
          padding-bottom:{{section.settings.padding_bottom}}px;
      }
  }
  @media(max-width:991px){
      .padding_{{ section.id }}{
          padding-top:{{section.settings.padding_top_mob}}px;
          padding-bottom:{{section.settings.padding_bottom_mob}}px;
      }
  }
  .breadcrumb-wrap{font-size:{{ section.settings.type_size_paragraph }}px;}
{% endstyle %}

{% schema %}
{
  "name": "Breadcrumb",
  "class": "breadcrumb-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Setting"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "type_size_paragraph",
      "label": "t:settings.size",
      "options": [
        {
          "value": "10",
          "label": "10px"
        },
        {
          "value": "12",
          "label": "12px"
        },
        {
          "value": "14",
          "label": "14px"
        },
        {
          "value": "16",
          "label": "16px"
        },
        {
          "value": "18",
          "label": "18px"
        }
      ],
      "default": "14"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top Desktop",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom Desktop",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "label": "Padding Top Mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "label": "Padding Bottom Mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}