

      <script
        src="{{ 'header-menu.js' | asset_url }}"
        type="module"
      ></script>
      <script
  src="{{ 'header-drawer.js' | asset_url }}"
  type="module"
></script>
{% liquid  
  assign order = 'logo,menu,localization,search,mobile_search,actions'

  if shop.customer_accounts_enabled
    assign order = 'mobile_search,logo,menu,localization,search,actions'
  endif

  assign rows = 'top,bottom' | split: ','
  assign search_style = 'none'

  if section.settings.show_search
    assign search_style = 'modal'
  endif

  if section.settings.enable_transparent_header_home and template.name == 'index'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.home_color_scheme
  elsif section.settings.enable_transparent_header_product and template.name == 'product'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.product_color_scheme
  elsif section.settings.enable_transparent_header_collection and template.name == 'collection'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.collection_color_scheme
  endif

  if section.settings.enable_sticky_header == 'always'
    assign sticky = 'always'
  elsif section.settings.enable_sticky_header == 'scroll-up'
    assign sticky = 'scroll-up'
  endif

  if transparent and sticky
    assign transparent = 'not-sticky'
  endif

  if transparent
    if transparent_color_scheme == 'inverse'
      assign transparent_color_scheme = 'color-' | append: section.settings.color_scheme_transparent
    else
      assign transparent_color_scheme = 'color-' | append: section.settings.color_scheme_top
    endif
  endif

  capture logo
    content_for 'block', type: '_header-logo', id: 'header-logo'
  endcapture

<<<<<<< HEAD

  capture menu
    content_for 'block', type: '_header-menu-list', id: 'header-menu-list'
  endcapture
  

  capture mobile_menu
    content_for 'block', type: 'mobile-drawer-menu', id: 'mobile-drawer-menu'
=======
  capture menuone
    content_for 'block', type: '_header-menu', id: 'header-menu'
  endcapture
  capture menutwo
    content_for 'block', type: '_header-menu', id: 'header-menu-2'
  endcapture
  capture menuthree
    content_for 'block', type: '_header-menu', id: 'header-menu-3'
  endcapture
  capture menufour
    content_for 'block', type: '_header-menu', id: 'header-menu-4'
  endcapture
  capture menufive
    content_for 'block', type: '_header-menu', id: 'header-menu-5'
  endcapture
  capture menusix
    content_for 'block', type: '_header-menu', id: 'header-menu-6'
  endcapture
  

  capture mobile_menu_one
    content_for 'block', type: '_header-menu', id: 'header-menu', variant: 'mobile'
  endcapture
  capture mobile_menu_two
    content_for 'block', type: '_header-menu', id: 'header-menu-2', variant: 'mobile'
  endcapture
  capture mobile_menu_three
    content_for 'block', type: '_header-menu', id: 'header-menu-3', variant: 'mobile'
  endcapture
  capture mobile_menu_four
    content_for 'block', type: '_header-menu', id: 'header-menu-4', variant: 'mobile'
  endcapture
  capture mobile_menu_five
    content_for 'block', type: '_header-menu', id: 'header-menu-5', variant: 'mobile'
  endcapture
  capture mobile_menu_six
    content_for 'block', type: '_header-menu', id: 'header-menu-6', variant: 'mobile'
>>>>>>> e662a838418fd56c8fc95ce268c1162d94c3acc0
  endcapture

  capture top_menu
    content_for 'block', type: '_header-top-menu', id: 'header-top_menu'
  endcapture

<<<<<<< HEAD
  capture actions
    render 'header-actions'
  endcapture
=======
>>>>>>> e662a838418fd56c8fc95ce268c1162d94c3acc0

  capture navigation_bar content_for 'block', type: '_header-menu', id: 'header-menu', variant: 'navigation_bar', transparent: transparent
   
  endcapture

  capture actions
    render 'header-actions'
  endcapture

  if shop.customer_accounts_enabled
    assign search_class = 'mobile:hidden'
  endif

  if section.settings.search_position == 'left'
    if shop.customer_accounts_enabled
      assign order = 'mobile_search,logo,search,menu,localization,actions'
    else
      assign order = 'logo,search,menu,localization,mobile_search,actions'
    endif
  endif

  
  capture search
  comment
    render 'search', style: search_style, class: search_class, search_position: section.settings.search_position 
  endcomment
  
  render 'predictive-search'
  endcapture

  # Skip mobile search under specific conditions:
  # Always render if search_row is bottom
  # Don't render when shop.customer_accounts_enabled is false and search_position is left and search_style is not none
  assign skip_mobile_search = false
  if shop.customer_accounts_enabled == false and section.settings.search_position == 'left' and search_style != 'none'
    assign skip_mobile_search = true
  endif

  if section.settings.search_row == 'bottom' or search_style != 'none' and skip_mobile_search == false
    # Mobile search duplicate for when search is not in the right order for mobile layout
    capture mobile_search
      render 'search', class: 'desktop:hidden', style: search_style
    endcapture
  endif

  assign show_language = section.settings.show_language
  if localization.available_languages.size <= 1
    assign show_language = false
  endif

  assign show_country = section.settings.show_country
  if localization.available_countries.size <= 1
    assign show_country = false
  endif

  if show_country or show_language
    capture localization_markup
      render 'dropdown-localization', show_country: show_country, show_language: show_language, country_style: section.settings.country_selector_style, localization_position: section.settings.localization_position
    endcapture
  endif

  assign bottom_row_blocks = ''

  if section.settings.menu_row == 'bottom'
    assign bottom_row_blocks = bottom_row_blocks | append: 'menu,'
  endif

  if section.settings.search_style != 'none'
    if section.settings.search_row == 'bottom'
      assign bottom_row_blocks = bottom_row_blocks | append: 'search,'
    endif
  endif

  if section.settings.show_country or section.settings.show_language
    if section.settings.localization_row == 'bottom'
      assign bottom_row_blocks = bottom_row_blocks | append: 'localization,'
    endif
  endif

  assign bottom_row_blocks = bottom_row_blocks | split: ',' | compact

  if section.settings.section_height == 'compact'
    assign header_height_class = ' header--compact'
  endif

  if bottom_row_blocks.size > 0 and section.settings.color_scheme_top.settings.background.rgb == section.settings.color_scheme_bottom.settings.background.rgb and section.settings.divider_width == 0
    assign collapse_header_paddings_class = 'header--collapse-row-paddings'
  endif

  assign class = 'header'

  if transparent_color_scheme
    assign class = class | append: ' ' | append: transparent_color_scheme
  endif

  if section.settings.color_scheme_top.settings.background.alpha != 1
    assign class = class | append: ' ' | append: 'header--inherit-color-scheme-on-menu-open'
  endif

  if header_height_class
    assign class = class | append: ' ' | append: header_height_class
  endif

  if collapse_header_paddings_class
    assign class = class | append: ' ' | append: collapse_header_paddings_class
  endif
%}
<<<<<<< HEAD
=======
{% capture menu %}
  {{ menuone }}
  {{ menutwo }}
  {{ menuthree }}
  {{ menufour }}
  {{ menufive }}
  {{ menusix }}
{% endcapture %}
{% capture mobile_menu %}
  {{ mobile_menu_one }}
  {{ mobile_menu_two }}
  {{ mobile_menu_three }}
  {{ mobile_menu_four }}
  {{ mobile_menu_five }}
  {{ mobile_menu_six }}
{% endcapture %}
>>>>>>> e662a838418fd56c8fc95ce268c1162d94c3acc0

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "url": {{ request.origin | append: page.url | json }}
  }
</script>


<div class="header_top">
  <div class="ht_menu">
    <div class="header_top-menu">
      <div class="header_top_left">
        {{ top_menu }}
      </div>
      <div class="header_top_right">
        {% if section.settings.show_location %}
          <a class="" href="{{ section.settings.location }}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 8.5C9.10457 8.5 10 7.60457 10 6.5C10 5.39543 9.10457 4.5 8 4.5C6.89543 4.5 6 5.39543 6 6.5C6 7.60457 6.89543 8.5 8 8.5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 6.5C13 11 8 14.5 8 14.5C8 14.5 3 11 3 6.5C3 5.17392 3.52678 3.90215 4.46447 2.96447C5.40215 2.02678 6.67392 1.5 8 1.5C9.32608 1.5 10.5979 2.02678 11.5355 2.96447C12.4732 3.90215 13 5.17392 13 6.5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ section.settings.location_title }}
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.75 4.5L6 8.25L2.25 4.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </a>
        {% endif %}
        {% if section.settings.show_quick-order %}
          <a class="" href="{{ section.settings.qo_link }}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 14C11.0376 14 13.5 11.5376 13.5 8.5C13.5 5.46243 11.0376 3 8 3C4.96243 3 2.5 5.46243 2.5 8.5C2.5 11.5376 4.96243 14 8 14Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8 8.5L10.5 6" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.5 1H9.5" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ section.settings.qc_label }}
          </a>
        {% endif %}
        {% if section.settings.show_location %}
          <a class="" href="{{ section.settings.phone }}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.5 3C10.3409 3.22145 11.108 3.66214 11.723 4.27705C12.3379 4.89196 12.7785 5.65906 13 6.5" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 5C10.0325 5.27625 10.7237 5.9675 11 7" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.77438 9.58398C9.84362 9.5379 9.92327 9.50983 10.0061 9.5023C10.0889 9.49477 10.1723 9.50802 10.2488 9.54085L13.1963 10.8615C13.2956 10.9039 13.3785 10.9774 13.4326 11.0709C13.4867 11.1644 13.509 11.273 13.4963 11.3802C13.3991 12.1059 13.0418 12.7716 12.4907 13.2535C11.9395 13.7354 11.2321 14.0008 10.5 14.0002C8.24566 14.0002 6.08365 13.1047 4.48959 11.5106C2.89553 9.91658 2 7.75457 2 5.50023C1.99944 4.76811 2.2648 4.0607 2.74673 3.50956C3.22865 2.95843 3.89435 2.60108 4.62 2.50398C4.72727 2.49124 4.83578 2.51358 4.9293 2.56766C5.02281 2.62174 5.0963 2.70465 5.13875 2.80398L6.45938 5.75398C6.49182 5.82975 6.50504 5.91236 6.49784 5.99447C6.49064 6.07658 6.46326 6.15564 6.41813 6.2246L5.0825 7.81273C5.03512 7.88422 5.00711 7.96678 5.00119 8.05234C4.99528 8.1379 5.01166 8.22353 5.04875 8.30086C5.56563 9.35898 6.65938 10.4396 7.72063 10.9515C7.79836 10.9884 7.88439 11.0044 7.9702 10.998C8.05602 10.9915 8.13867 10.9628 8.21 10.9146L9.77438 9.58398Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ section.settings.phone_title }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<header-component
  id="header-component"
  class="{{ class }}"
  {% if transparent %}
    transparent="{{ transparent }}"
  {% endif %}
  {% if sticky %}
    sticky="{{ sticky }}"
  {% endif %}
  data-skip-node-update
  data-scroll-direction="none"
>
  {% for row in rows %}
    {% liquid
      assign scheme = 'color_scheme_' | append: row
      assign class = 'header__row header__row--[row] color-[row_scheme] section--full-width-margin section--[section-width]' | replace: '[row]', row | replace: '[row_scheme]', section.settings[scheme] | replace: '[section-width]', section.settings.section_width

      case row
        when 'top'
          assign first = mobile_menu

          if bottom_row_blocks.size > 0 and section.settings.divider_size == 'page-width'
            assign class = class | append: ' divider--page-width'
          endif

          if bottom_row_blocks.size > 0
            assign border_bottom_setting_id = 'divider_width'
          else
            assign border_bottom_setting_id = 'border_width'
          endif
        when 'bottom'
          assign first = ''
          assign class = class | append: ' mobile:hidden'

          assign border_bottom_setting_id = 'border_width'
      endcase

      assign style = '--border-bottom-width: [width]px; ' | replace: '[width]', section.settings[border_bottom_setting_id]

      if row == 'top'
        assign style = style | append: '--border-bottom-width-mobile: [width]px; ' | replace: '[width]', section.settings.border_width
      endif
    %}
  {% capture block_search_ai %}
      {% content_for 'blocks' %}
  {% endcapture %}
    {% capture content %}
      {% render 'header-row',
        row: row,
        order: order,
        settings: section.settings,
        first: first,
        logo: logo,
        menu: menu,
        actions: actions,
        localization: localization_markup,
        search: search,
        search_ai : block_search_ai,
        mobile_search: mobile_search
      %}
    {% endcapture %}

    {% assign content = content | strip %}
    {% if content != blank %}
      <div
        class="{{ class | strip }}"
        ref="headerRowTop"
        {%- if style != blank -%}
          style="{{ style | strip }}"
        {%- endif -%}
      >
        <div class="header__columns spacing-style">
          {{ content }}
        
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% if navigation_bar != blank %}
    <div class="header__row header__row--mobile desktop:hidden color-{{ section.settings.color_scheme_bottom }}">
      {{ navigation_bar }}
    </div>
  {% endif %}
</header-component>

<script
  src="{{ 'header.js' | asset_url }}"
  type="module"
></script>

{% stylesheet %}
  body {
    --header-height: 0px;
    --header-group-height: var(--header-height);
  }

  body:has(> #header-group > header) {
    --header-height: 60px;
  }

  body:has(> #header-group:empty) {
    --header-group-height: 0px;
  }

  .header[transparent] {
    --language-button-background-color: transparent;
    --language-button-border-color: transparent;
    /* used to apply transparency to .header__row, will only ever be transparent or unset */
    --header-bg-color: transparent;
    /* used to display the appropriate logo based on transparency state */
    --header-logo-display: none;
    --header-logo-inverse-display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* transparent color scheme on .header should never apply its background color */
    background-color: transparent;
    z-index: var(--layer-overlay);

    &[transparent='not-sticky'][data-sticky-state='active'],
    &:has(
        .header__row:hover,
        [role='menu']:is(:hover),
        [role='menuitem']:is([aria-expanded='true']),
        nav[header-menu]:is(:focus-within),
        .menu-list__link[data-animating],
        .account-popover[open],
        .localization-wrapper:not([hidden])
      ) {
      /* should be opaque, negate all transparent properties */
      --header-logo-display: unset;
      --header-logo-inverse-display: unset;
      --header-bg-color: unset;
      --color-foreground: inherit;
      --color-background: inherit;
      --color-border: inherit;
    }

    .header__row {
      transition: color var(--animation-speed) var(--animation-easing),
        border-color var(--animation-speed) var(--animation-easing),
        background-color var(--animation-speed) var(--animation-easing);
    }
  }

  :is(
      .header[transparent]:not([data-sticky-state='active']),
      .header[transparent='always'][data-sticky-state='active'],
      .account-popover[open],
      .localization-wrapper:not([hidden])
    )
    .header__row:not(:hover):not(
      :has(
          .header-menu[aria-expanded='true'],
          .menu-list__link[data-animating],
          .account-popover[open],
          .localization-wrapper:not([hidden])
        )
    ) {
    /* while transparent, header-row ignores its color-scheme settings, pull from the header-component */
    --color-foreground: inherit;
    --color-border: inherit;
    --color-primary-button-background: inherit;
    --color-primary-button-text: inherit;
  }

  .header--inherit-color-scheme-on-menu-open:has(
      [role='menu']:is(:hover),
      [role='menuitem']:is([aria-expanded='true']),
      nav[header-menu]:is(:focus-within),
      .menu-list__link[data-animating]
    )
    .header__row {
    --color-foreground: inherit;
    --color-background: inherit;
    --color-border: inherit;
  }

  .header-section {
    position: relative;
  }

  #header-group:has(#header-component[sticky]) {
    display: contents;
  }

  .header-section:has(> #header-component[sticky='always']),
  .header-section:has(> #header-component[sticky='scroll-up'][data-sticky-state='active']) {
    position: sticky;
    /* Use -1 instead of 0 so intersection observer can track sticky state */
    top: -1px;
    z-index: var(--layer-sticky);
  }

  .header[data-sticky-state] {
    transition: opacity var(--animation-speed) var(--animation-easing);
    opacity: 1;
  }

  .header[data-sticky-state='active'] {
    view-transition-name: sticky-header;
  }

  .header[data-sticky-state='idle'],
  .header[data-sticky-state='active'][data-animating] {
    opacity: 0;
  }

  .header__row {
    position: relative;
    /* will default to bg from its color scheme unless --header-bg-color is transparent */
    background-color: var(--header-bg-color, var(--color-background));
  }

  .header__row--top:not(.divider--page-width),
  .header__row--top.divider--page-width .header__columns,
  .header__row--bottom {
    border-bottom: var(--border-bottom-width) solid var(--color-border);
  }

  @media screen and (width < 750px) {
    .header__row--top:not(.divider--page-width),
    .header__row--top.divider--page-width .header__columns {
      border-bottom-width: var(--border-bottom-width-mobile);
    }
  }

  .header__row.divider--page-width:not(.section--page-width) .header__columns {
    @media screen and (width >= 750px) {
      padding-inline-start: 0;
      padding-inline-end: 0;
      margin-inline-start: var(--page-margin);
      margin-inline-end: var(--page-margin);
    }
  }

  .header__column {
    display: flex;
    align-items: center;
    /* on mobile, header__column nodes are ignored to create a new grid-template-area based on all visible content */
    @media screen and (width < 750px) {
      display: contents;
    }
  }

  .header__column--left,
  .header__column--center {
    gap: var(--gap-xl);
    grid-area: left;
  }

  .header__column--center {
    justify-content: center;
    grid-area: center;

    header-menu:only-child .overflow-menu::part(list) {
      justify-content: center;
    }
  }

  .header__column--right {
    gap:var(--gap-2xl);
    justify-content: flex-end;
    grid-area: right;
    .overflow-menu::part(list) {
      justify-content: flex-end;
    }
  }

  .header__columns {
    display: grid;
    grid-template-areas: 'left center right';
    grid-gap: 16px;
    /* grid-template-columns: var(--header-template-columns); */
    grid-template-columns: auto auto 1fr;

    /* Three column layout */
    --header-left: 1fr;
    --header-center: auto;
    --header-right: 1fr;
    --header-template-columns: var(--header-left) var(--header-center) var(--header-right);

    /* Mobile layout */
    --header-mobile-bookend: 44px;

    /* If menu is in center column */
    &:has(.header__column--center header-menu) {
      --header-center: auto;
      --header-left: minmax(max-content, 1fr);
      --header-right: minmax(max-content, 1fr);
    }

    /* If there is no center column, make the column the menu is in grow eagerly */
    &:where(:not(:has(.header__column--center))) {
      @media screen and (width >= 750px) {
        grid-template-areas: 'left right';
        --header-template-columns: var(--header-left) var(--header-right);
      }

      /* If the header-menu is in the right column */
      &:has(.header__column--right header-menu) {
        --header-right: auto;
        --header-left: minmax(max-content, 1fr);
      }
      /* If the header-menu is in the left column */
      &:has(.header__column--left header-menu) {
        --header-left: auto;
        --header-right: minmax(max-content, 1fr);
      }
    }

    @media screen and (width < 750px) {
      --header-template-columns: var(--header-mobile-bookend) var(--header-mobile-bookend) 1fr
        var(--header-mobile-bookend) var(--header-mobile-bookend);
      grid-template-areas: 'leftA leftB center rightA rightB';
      grid-column: span 3;
      column-gap: 0;
      align-items: center;
      padding-block: 0;
      padding-inline: 0 var(--padding-3xs);

      .header-logo {
        grid-area: center;
      }

      &:not(:has(header-actions)) .search-action {
        grid-area: leftB;
      }

      &:not(:has(.account-actions)) .search-action {
        grid-area: rightA;
      }

      .search-action {
        grid-area: leftB;
      }

      header-actions {
        grid-area: rightB;
      }
    }
  }

  /* Single column layout if there are no columns within */
  .header__columns:not(:has(.header__column)) {
    grid-template-columns: 1fr;
  }

  /* Set header paddings based on height setting */
  .header {
    /* --header-padding: var(--padding-sm); */
    --header-padding:1rem;
    --font-paragraph--line-height: 1;
  }

  .header.header--compact {
    --header-padding: var(--padding-2xs);
  }

  .header__columns {
    /* --padding-block-start: var(--header-padding);
    --padding-block-end: var(--header-padding); */
    padding:calc(var(--header-padding)) calc(var(--header-padding) * 1.5)
  }

  .header:not(.header--compact) .header__row--bottom {
    --header-padding: var(--padding-xs);
  }

  .header--collapse-row-paddings {
    .header__row--top .header__columns {
      --padding-block-end: 0px;
    }
    .header__row--bottom .header__columns {
      --padding-block-start: 0px;
    }
  }

  /* When the header is transparent, add a margin to a potential header-section below it */
  .header-section:has(.header[transparent]) + .shopify-section {
    margin-top: var(--header-height);
  }

  /* When the header is transparent, and when there is no header-section below it, offset the first main-section with
   * the height of the header
   */
  body:has(> #header-group #header-component[transparent]):not(:has(> #header-group .header-section + .shopify-section))
    > main
    > .shopify-section:first-child
    .section:not(.disable-section-top-offset) {
    &.spacing-style,
    .spacing-style {
      --section-top-offset: var(--header-height);

      /* Any nested sections should not be offset */
      :is(.spacing-style, .inherit-spacing) {
        --section-top-offset: 0px;
      }
    }

    /* Make sticky content immediately stick to the top of the page */
    .sticky-content {
      margin-top: calc(var(--header-height) * -1);
    }


  }

  .menu-list__list-item.simple_menu_nav .menu-list__submenu,.menu-list__list-item.simple_menu_nav .menu-list__submenu-inner,
  .menu-list__list-item.simple_menu_nav .mega-menu{max-width: fit-content;}
  .menu-list__list-item.simple_menu_nav .menu-list__submenu{left: auto;}
  .menu-list__list-item.simple_menu_nav .mega-menu{display: block;}
  .menu-list__list-item.simple_menu_nav .right_cnt_mega{padding: 0;}
  .menu-list__list-item.simple_menu_nav span.mega-menu__column{display: flex;flex-direction: column;gap: 12px;}
<<<<<<< HEAD
  .menu_logo_list{display: flex;flex-direction: row;gap: 16px;flex-wrap: wrap;padding: 24px;margin: 0;height: max-content;}
  .menu_logo_item{display: flex;max-width: calc(33.33% - 16px * 2 / 3);min-height: 100px;border: 1px solid var(--color-border);border-radius: 8px;padding: 20px;}
  .menu_logo_item .logo_img_link{display: flex;flex-direction: column;justify-content: center;align-items: center;}
  .menu_logo_item .logo_img_link img{max-width: 85%;width: 100%;}
  .header .header__drawer{display: none;}
  .header .header__drawer.is_active{display: flex;}
  .mobile_add_content{padding-inline: var(--drawer-padding);}


  .promo_blocks .menu_img_title{font-size: 24px;font-family: inherit;font-weight: 900;color: #fff;white-space: normal;}
  .promo_blocks .menu_img_desc{font-size: 16px;font-family: inherit;font-weight: 700;color: #fff;white-space: normal;}
  .promo_blocks .btn{--button-color:#fff;--button-border-color:#fff;--button-background-color:transparent;}
=======
  .menu_logo_list{display: flex;flex-direction: row;gap: 16px;flex-wrap: wrap;padding: 0;}
  .menu_logo_item{display: flex;max-width: calc(33.33% - 10.67px);}
>>>>>>> e662a838418fd56c8fc95ce268c1162d94c3acc0
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.header",
  "tag": "header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "t:content.logo"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:content.menu"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "menu_row",
      "label": "t:settings.row",
      "options": [
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "t:content.customer_account"
    },
    {
      "type": "paragraph",
      "content": "t:content.manage_customer_accounts"
    },
    {
      "type": "header",
      "content": "t:content.search"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:settings.search_icon",
      "default": true
    },
    {
      "type": "select",
      "id": "search_position",
      "label": "t:settings.search_position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "right",
      "visible_if": "{{ section.settings.show_search }}"
    },
    {
      "type": "select",
      "id": "search_row",
      "label": "t:settings.search_row",
      "options": [
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "top",
      "visible_if": "{{ section.settings.show_search }}"
    },
    {
      "type": "header",
      "content": "t:content.localization"
    },
    {
      "type": "checkbox",
      "id": "show_country",
      "label": "t:settings.country_region",
      "info": "t:info.manage_countries_regions",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "country_selector_style",
      "label": "t:settings.flag",
      "default": true,
      "visible_if": "{{ section.settings.show_country }}"
    },
    {
      "type": "checkbox",
      "id": "show_language",
      "label": "t:settings.language_selector",
      "info": "t:info.manage_languages",
      "default": true
    },
    {
      "type": "select",
      "id": "localization_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "right",
      "visible_if": "{{ section.settings.show_country or section.settings.show_language }}"
    },
    {
      "type": "select",
      "id": "localization_row",
      "label": "t:settings.row",
      "options": [
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "top",
      "visible_if": "{{ section.settings.show_country or section.settings.show_language }}"
    },
    {
      "type": "header",
      "content": "Quick Order"
    },
    {
      "type": "checkbox",
      "id": "show_quick-order",
      "label": "Show Quick Order",      
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_quick-order-mobile",
      "label": "Hide Quick Order Mobile",      
      "default": false,
      "visible_if": "{{ section.settings.show_quick-order == true }}"
    },
    {
      "type": "text",
      "id": "qc_label",
      "label": "Add Quick Order Label",
      "visible_if": "{{ section.settings.show_quick-order == true }}"
    },
    {
      "type": "url",
      "id": "qo_link",
      "label": "Add Quick Order Link",
      "visible_if": "{{ section.settings.show_quick-order == true }}"
    },
    {
      "type": "header",
      "content": "Phone"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "label": "Show Phone",      
      "default": true
    },
    {
      "type": "text",
      "id": "phone_title",
      "label": "Add Phone Label",
      "visible_if": "{{ section.settings.show_phone == true }}"
    },
    {
      "type": "url",
      "id": "phone",
      "label": "Add Phone Number",
      "visible_if": "{{ section.settings.show_phone == true }}"
    },
    {
      "type": "header",
      "content": "Location"
    },
    {
      "type": "checkbox",
      "id": "show_location",
      "label": "Show location",      
      "default": true
    },
    {
      "type": "text",
      "id": "location_title",
      "label": "Add Location Label",
      "visible_if": "{{ section.settings.show_phone == true }}"
    },
    {
      "type": "url",
      "id": "location",
      "label": "Add Location Number",
      "visible_if": "{{ section.settings.show_phone == true }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "compact",
          "label": "t:options.compact"
        },
        {
          "value": "standard",
          "label": "t:options.standard"
        }
      ],
      "default": "standard"
    },
    {
      "type": "select",
      "id": "enable_sticky_header",
      "label": "t:settings.sticky_header",
      "options": [
        {
          "value": "always",
          "label": "t:options.always"
        },
        {
          "value": "scroll-up",
          "label": "t:options.on_scroll_up"
        },
        {
          "value": "never",
          "label": "t:options.never"
        }
      ],
      "default": "always"
    },
    {
      "type": "range",
      "id": "divider_width",
      "label": "t:settings.divider_thickness",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.menu_row == 'bottom' or section.settings.localization_row == 'bottom' or section.settings.search_row == 'bottom' }}"
    },
    {
      "type": "select",
      "id": "divider_size",
      "label": "t:settings.divider_width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "visible_if": "{{ section.settings.divider_width > 0 and section.settings.menu_row == 'bottom' or section.settings.localization_row == 'bottom' or section.settings.search_row == 'bottom' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "label": "t:settings.border_width",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_top",
      "label": "t:settings.default",
      "default": "primary"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_bottom",
      "label": "t:settings.bottom_row",
      "default": "primary",
      "visible_if": "{{ section.settings.menu_row == 'bottom' or section.settings.localization_row == 'bottom' or section.settings.search_row == 'bottom' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transparent",
      "label": "t:settings.inverse",
      "default": "primary",
      "visible_if": "{{ section.settings.enable_transparent_header_home or section.settings.enable_transparent_header_product or section.settings.enable_transparent_header_collection }}"
    },
    {
      "type": "header",
      "content": "t:content.home_page"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_home",
      "label": "t:settings.transparent_background",
      "default": false
    },
    {
      "type": "select",
      "id": "home_color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.enable_transparent_header_home }}"
    },
    {
      "type": "header",
      "content": "t:content.product_page"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_product",
      "label": "t:settings.transparent_background",
      "default": false
    },
    {
      "type": "select",
      "id": "product_color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.enable_transparent_header_product }}"
    },
    {
      "type": "header",
      "content": "t:content.collection_page"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_collection",
      "label": "t:settings.transparent_background",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.enable_transparent_header_collection }}"
    }
  ],
  "blocks": [
    { 
      "type": "@theme" 
    }, 
    { 
      "type": "@app" 
    },
  ],
  "presets": []
}
{% endschema %}
