<style>
   .product-description-short ul li{
    list-style: disc;
  }
  @media screen and (min-width: 750px){
    .template-product .shopify-section-header.showAlternateHeader+#PageContainer.marginTop {
      padding-top: 0px;
    }
    .shopify-section-header.showAlternateHeader+#PageContainer.marginTop {
      padding-top: 0;
    }
    .shopify-section-header.showAlternateHeader+#PageContainer.marginTop {
      padding-top: 0;
    }
  }
  .product-single__media__carousel::after{
    content: "";
    position: absolute;
    background-image: url("https://cdn.shopify.com/s/files/1/0807/1964/2907/files/zoom-in.svg");
    width: 14px;
    height: 14px;
    top: 25px;
    left: 25px;
    z-index: 1;
    pointer-events: none;
  }
  .thumbnails-wrapper .flickity-viewport {
    /* height: 100px !important; */
    min-height: 100px !important;
  }
  .product-single__media-group .flickity-viewport {
  
    min-height: 360px !important;
  }
  .thumbnails-wrapper .product-single__thumbnails-block {
    padding-left: 0;
  }
 .template-product .breadcrumbs__link {
    color: black;
  }
  .template-product .breadcrumbs__link[aria-current=page] {
    color: black;
  }
  .template-product .breadcrumbs__item:not(:last-child):after {
    color: black;
  }
  body.template-product {
    background-color: white;
  }
  .template-product .breadcrumbs {
    margin: 20px 0 2em;
  }
  .template-product .grid__item {
    padding-left: 0;
  }
  .product-single__meta {
    padding-left: 100px;
  }
  .product-single__meta .product_sku {
    color: var(--grayscale-mid-grey, #919191);
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.07px;
    opacity: 1;
    margin-bottom: 10px;
  }
  h1.product-single__title.h3 {
    color: var(--text-primary, #362323);
    font-family: Foundry Sterling;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0;
  }
  .product-type {
    color: var(--text-action-link, #362323);
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.07px;
    margin: 16px 0 16px 0;
  }
  .product-description-short {
    color: var(--text-primary, #362323);
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.07px;
  }
  .product-description-short {
    max-height: 100px;
    overflow-y:clip;
  }
  a.readmore {
    color: var(--text-action-secondary, #ED1C24);
    font-family: Foundry Sterling;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
    text-decoration: underline;
  }
  .image_with_text_blocks {
    justify-content: flex-start;
    margin-top: 24px;
  }
  .image_with_text_blocks .block svg, .image_with_text_blocks .block img {
    height: unset;
    margin: 0 8px 0 0;
  }
  .block_content {
    display: flex;
  }
  .image_with_text_blocks .block {
    width: unset;
  }
  .image_with_text_blocks .block .block_content p {
    margin-top: 6px;
    color: var(--text-action-link, #362323);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Foundry Sterling;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-decoration: underline;
  }
  a.btn.btn--primary.enqr-btn {
    width: 100%;
  }
  a.btn.btn--primary.enqr-btn {
    width: 100%;
    color: white;
  }
  .btn.enqr-btn:after {
    z-index: -1;
  }
  .stock-avl {
    color: var(--state-success, #68C090);
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.07px;
    /* border-top: 1px solid #E2E2E2; */
    padding: 14px 0 24px 0;
    /* margin: 24px 0 0 0; */
    display: flex;
    column-gap: 7px;
  }
  .wishlist-btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px 0 0 0;
  }
  .breadcrumbs, .product-single{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  } 
  .tabing{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #F7F7F7;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .product-single__meta .product-form {
    padding-bottom: 55px;
  }
  .tabs-wrap {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
  }
  .tabing .nav-tabs li.active {
    color: var(--color-text);
    border-color: var(--color-btn-primary);
    pointer-events: none;
    width: 50%;
    color: var(--text-action-link, #362323);
    text-align: center;
    font-family: Foundry Sterling;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
  }
  .tabing .nav-tabs li {
    width: 50%;
    text-align: center;
    font-family: Foundry Sterling;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
  }
  .tabing .nav-tabs li.active a {
    color: #362323;
  }
  .tabing .nav-tabs li a {
    display: block;
    color: inherit;
    color: #776B6B;
    text-align: center;
    font-family: Foundry Sterling;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .tab-pane .rte p {
    color: var(--text-primary, #362323);
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.07px;
    margin: 0 0 6px 0px;
  }
  .tabing .tab-content {
    padding-top: 24px;
  }
  .tabs-wrap-outer {
    background-color: #f7f7f7;
  }
  li.breadcrumbs__item a {
    color: #362323;
    font-size: 12px;
  }
  button.btn.product-form__cart-submit.btn--primary .icon--cart {
    display: none;
  }
  span.price-item.price-item--sale {
    color: var(--text-primary, #362323);
    font-family: Foundry Sterling;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }
  .product__price {
    padding: 24px 0 0 0;
    margin: 12px 0 0 0;
    border-top: 1px solid #E2E2E2;
  }
  .product-single__meta .form_bg_row {
    background: var(--white-color);
    padding: 10px 0px;
    border-radius: 50px;
    margin: 0 0 10px;
  }
  .product-single__meta .product_quantity_info_container .qty_container {
    display: flex;
    flex-direction: column;
    align-items: unset;
    row-gap: 8px;
  }
  .qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    max-width: 113px;
    margin: 0;
    border-radius: 21px;
    background: var(--background-secondary, #F7F7F7);
  }
  .qty .qty_btn {
    height: 28px;
    width: 28px;
    min-width: 28px;
    border-radius: 50%;
    border: 1px solid #d7dbdb;
    cursor: pointer;
    display: block;
  }
  .product-form__input.product-form__input--quantity {
    font-weight: 500;
  }
  .qty-tooltip-wrap {
    margin: 45px 0 0 4px;
  }
  .qty-tooltip {
    cursor: pointer;
  }
  .qty-tooltip-content {
    display: none;
  }
  .qty-tooltip-wrap:hover + .qty-tooltip-content{
    display: block;
  }
  .qty-tooltip-content {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 5px 11px;
    margin: -30px 0 0 -90px;
    position: relative;
  }
  /* .qty-tooltip:hover .qty-tooltip-content{
    border: 1px solid red;
  } */
  .qty-tooltip-content{
    /* border: 1px solid red; */
  }
  .qty-tooltip-content:after {
    content: "";
    position: absolute !important;
    width: 10px;
    height: 10px;
    bottom: -5px;
    background-color: #f7f7f7;
    transform: rotate(45deg);
    left: 76px;
  }
  .variant-wraper form {
    display: flex;
    /* justify-content: space-between; */
    /* column-gap: 40px; */
    border-bottom: 1px solid #E2E2E2;
    /* padding: 20px 0; */
    padding: 0px 0 15px 0;
  }  
  .variant-headers {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 40px;
    border-radius: 10px 10px 0px 0px;
    border: 0px solid var(--border-line-primary, #E2E2E2);
    background: var(--background-secondary, #F7F7F7);
    padding: 16px 0px 16px 20px;
    color: var(--text-primary, #362323);

    /* Body/Regular Bold */
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    letter-spacing: 0.07px;
  }
  .sku {
    min-width: 125px;
  }
  .varient-desc {
    min-width: 223px;
  }
  .vh-clr {
    min-width: 62px;
  }
  .vh-sku {
    min-width: 125px;
  }
  .vh-desc {
    min-width: 225px;
  }
  .vh-size {
    min-width: 140px;
  }
  .vh-stock {
    min-width: 80px;
  }
  .vh-price {
    min-width: 70px;
  }
  .vh-qty {
    /* min-width: 307px; */
  }
  .var-color {
    min-width: 62px;
    margin: 0 0 0 20px;
    max-width: 62px;
  }
  .variant-list-options-size {
    min-width: 142px;
  }
  .variant-stock {
    min-width: 77px;
  }
  .variant-price {
    min-width: 70px;
  }
  .form_bg_row.quantity_block {
    min-width: 135px;
    margin-right: 0;
  }
  .variant-wraper form > * {
    margin: 0 10px 0 0;
    font-size: 14px;
    
  }
  .var-color, .sku, .varient-desc, .variant-list-options-size, .variant-stock, .variant-price, .form_bg_row.quantity_block{
    display: flex;
    align-items: center;
  }
  .variant-form__item--submit{
    flex-direction: column;
  }
  .container-variant .qty-tooltip-content:after {
    content: "";
    position: absolute !important;
    width: 10px;
    height: 10px;
    bottom: -5px;
    background-color: #f7f7f7;
    transform: rotate(45deg);
    right: 35px;
    left:unset;
  }
  .variant-form__item--submit {
    padding: 22px 0 0  0;
  }
  @media (min-width:1410px){
    .variant-wraper form > * {
      margin: 0 40px 0 0;
      font-size: 14px;
    }
  }
  @media (max-width:1409px){
    .variant-headers {
      display: none;
    }
    .variant-wraper form {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .variant-form__item--submit {
    margin: 0 0 0 8px !important;
  }
  button.btn.product-form__cart-submit.btn--primary {
    min-width: 138px;
  }
  .container-variant {
    padding: 0 0 0 20px;
  }
  .variant-option-search__field{
    color: var(--text-primary, #232936);

    /* Body/Regular Bold */
    font-family: Foundry Sterling;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    letter-spacing: 0.07px;
    position: relative;
  }
  {% comment %} span.s-icon {
    /* margin: 71px 0 0 -31px; */
    position: absolute;
    right: 16px;
    top: 36px;
  } {% endcomment %}
  span.s-icon {
    cursor: pointer;
  }
  span.s-icon {
    margin: -10px 0px;
    position: absolute;
    right: 16px;
    top: 36px;
    padding: 10px;
  }
  .variant-stock .oos{
    color: #D82C0D;
  }
  .variant-stock .iss{
    color: #68C090;
  }
  .variant-wraper .qty-tooltip-wrap {
    margin: 13px 0 0 2px;
  }
  .variant-wraper .product_quantity_info_container {
    display: flex;
    position: relative;
  }
  .variant-wraper .qty-tooltip-content {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 5px 11px;
    margin: 0;
    position: absolute;
    top: -45px;
    right: -30px;
    z-index: 9;
  }
  .swatch input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
  }
  .product-single__meta .swatch .color label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .clr-wrp {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  .product-single__meta .swatch .tooltip {
    text-align: center;
    background: #f1f1f1;
    color: #362323;
    bottom: 100%;
    border-radius: 8px;
    padding: 7px 10px;
    display: block;
    position: absolute;
    white-space: nowrap;
    min-width: 100px;
    width: auto;
    max-width: 100px;
    right: 50%;
    left: auto;
    transform: translate(50%,10px);
    transition: transform .25s ease-out;
    margin-bottom: 15px;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    box-shadow: 2px 2px 6px #0000004d;
    z-index: 10000;
  }
  .product-single__meta .swatch .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #f1f1f1 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
  }
  .cls-wrp-val {
    word-break: break-word;
    white-space: wrap;
  }
  .product-options .product-single__meta .swatch {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .product-options .product-single__meta .form_bg_row {
    background: var(--white-color);
    padding: 0;
    border-radius: 50px;
    margin: 0 0 10px;
  }
  .variant-wraper{
    display: none;
  }
  .variant-wraper.active{
    display: block;
  }
  .swatch_check_icon .icon.icon--check{
    display: none;   
  }
  .product-single__meta .swatch input:checked+label {
    outline: 1px solid red;
    outline-offset: 4px;
  }
  .var-color img {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    border: 1px solid #b1b1b1;
  }

  .product_swatches.product-single__meta {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 10px 0 40px 0;
  }
  input.search-input-class {
    min-width: 324px;
    border-radius: 50px;
    min-height: 52px;
  }
  .no-cst .sku {
    min-width: 155px;
  } 
  .no-cst .vh-sku {
    min-width: 155px;
  }
  .no-cst .vh-desc {
    min-width: 310px;
  }
  .no-cst .vh-size {
    min-width: 152px;
  }
  .no-cst .varient-desc {
    min-width: 310px;
    max-width: 310px;
  }
  .no-cst .var-color {
    min-width: 62px;
    margin: 0 40px 0 0px;
    max-width: 62px;
  }
  .no-cst .variant-form__item--submit {
    width: 100%;
    padding: 32px 0 0 0;
  }
  .rte a.btn.product-form__cart-submit.btn--primary.login-price {
    color: white;
  }
  
  .container-variant.cv-mob {
    border-top: 1px solid #E2E2E2;
  }
  .variant-wraper .product-form__cart-submit {
    margin: 0;
  }
  .grid.product-single {
    min-height: 610px;
  }
  .limited-stock{
    color: orange !important;
  }




  @media(max-width:749px){
    .variant-wraper form > * {
      margin: 0;
    }
    .template-product .breadcrumbs {
      margin: 0px 0 2em;
    }
    .shopify-section-header.showAlternateHeader+#PageContainer.marginTop {
      padding-top: 0;
    }
    body:not(.template-index) .shopify-section+.shopify-section {
    padding-top: 0;
    padding-bottom: 15px;
    }
    .breadcrumbs, .product-single {
      padding-left: 20px;
      padding-right: 20px;
    }
    .product-single__meta {
    padding-left: 0;
    }
    .product-single__media--has-thumbnails, .product-single__media-group {
    margin-bottom: 0;
    }

    .product-single__thumbnails-block.is-selected {
    border: 2px solid #636466;
    }
    .product_description_accrordion .product_accordion__block .product_accordion__heading:after {
      content: "+";
      display: inline-block;
      font-size: 20px;
      margin-left: 10px;
      font-weight: 400;
    }
    .product_description_accrordion .product_accordion__block .product_accordion__heading {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    color: var(--text-action-link, #362323);
    font-family: Foundry Sterling;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    }
    .product_description_accrordion.page-width.medium-up--hide {
    background-color: #f7f7f7;
    padding: 40px 20px 50px 20px;
    }
    .product_description_accrordion {
    background-color: #f7f7f7;
    padding: 40px 20px;
    }
    .product_description_accrordion .product_accordion__block .product_accordion__content {
      background-color: white;
      padding: 0 18px;
      padding-top: 20px;
      margin-top: 0px;
    }
    span.product_accordion__heading.h5.active {
      /* background-color: white; */
      padding: 00px 0px 20px 0px;
      /* border-top-left-radius: 10px;
      border-top-right-radius: 10px; */
    }
    .product-single__meta .swatch {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .product-single__meta .swatch .header {
    margin: 0;
    font-size: 16px;
    width: 100%;
    }
    .product-single__meta .swatch .swatch-element {
      margin: 5px 8px 5px 0;
      position: relative;
      display: flex;
      align-items: center;
    }
    input.search-input-class {
      min-width: 100%;
    }
    span.s-icon {
      margin: 0px;
      position: absolute;
      right: 5px;
      top: 28px;
      padding: 10px;
    }
    span.product_accordion__heading.h5.active:before {
      /* content: "";
      width: 88%;
      height: 1px;
      background-color: #e2e2e2;
      position: absolute;
      bottom: 0;
      left: 20px;  */
    }
    .swatch_elements_wrapper input:checked+label {
      outline: 1px solid red;
      outline-offset: 4px;
    }
    .product-single__meta .swatch .color label.active-cell{
      outline: 1px solid red;
      outline-offset: 4px;
    }
    .variant-wraper form {
      display: flex;
      border-bottom: 1px solid #E2E2E2;
      padding: 20px 0;
      flex-direction: column;
      row-gap: 16px;
    }
    .container-variant {
      padding: 0;
    }
    span.sku-label, span.var-desc-label, span.var-op-size-label, span.vs-label, span.var-price-label, span.qty-label{
      color: var(--text-primary, #362323);
      font-family: Foundry Sterling;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.07px;
      min-width: 95px;
      display: inline-flex;
      /* align-items: center; */
    }
    .varient-desc {
    display: flex;
    align-items: flex-start;
    }
    span.qty-label {
    display: inline-flex;
    align-items: center;
    }
    .product_swatches.product-single__meta {
      margin: 10px 0 0 0;
    }
    .product_description_accrordion .product_accordion__block .product_accordion__content {
      overflow: visible;
      padding: 20px 20px 20px 20px;
      border-radius: 12px;
    }
    

  }
</style>
<style>

</style>
{% assign use_variant_image_for_swatches = true %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

 {%  assign show_form_popup = false %}
{%- assign enable_image_zoom = section.settings.enable_image_zoom -%}


{% if enable_image_zoom %}
<link rel="stylesheet" href="{{ 'photoswipe.css' | asset_url }}" type="text/css">
<link rel="stylesheet" href="{{ 'default-skin.css' | asset_url }}" type="text/css">
{% endif %}


{%- assign initial_media_index = 0 -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign price = current_variant.price -%}
{%- assign available = current_variant.available -%}

{%- for media in product.media -%}
{%- if product.selected_variant and media.id == product.selected_variant.featured_media.id -%}
{%- assign initial_media_index = forloop.index0 -%}
{% endif %}
{% endfor %}


{% assign show_preOrderButton = false %}
{% if current_variant.inventory_policy == 'continue' and settings.show_preOrder_btn and current_variant.inventory_quantity <= 0 %}
{% assign show_preOrderButton = true %}
{% endif %}

{% assign hide_price0_box_and_button = false %}
{% if settings.hide_price0_box_and_button and  product.price_max == 0 %} 
{% assign hide_price0_box_and_button = true %}
{% endif %}


{%  assign product_description_in_static_tab = false %}
{% assign show_static_tabs = false %}
{% for block in section.blocks %}
{% if block.type contains 'static_tab' %}
{% assign show_static_tabs = true %}

{% if block.settings.product_tab_use_product_description %}
{%  assign product_description_in_static_tab = true %}
{% break %}
{% endif %}
{% endif %}
{% endfor %}


{%- capture flickity_options -%}
{
"prevNextButtons": true,
"pageDots": false,
"adaptiveHeight": true,
"cellAlign": "left",
"contain": true,
  "pauseAutoPlayOnHover": true,
"dragThreshold": 8,
"initialIndex": {{ initial_media_index }},
"arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}


{%- capture thumb_flickity_options -%}
{ 
"prevNextButtons": false,
"pageDots": false,
  "pauseAutoPlayOnHover": true,
"contain": true,
"cellAlign": "left",
"dragThreshold": 8,
"initialIndex": {{ initial_media_index }},
"arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

{% assign cart_icon_style = settings.header_cart_icon_style %}


{% assign show_breadcrumbs = section.settings.show_breadcrumbs %}

{% if template.suffix == 'quick-view' %}
{% assign show_breadcrumbs = false %}
{% endif %}


{% assign show_inventory_quantity = false %}
{% assign low_inventory_threshold = 0 %}
{% assign show_product_desc_full_width = false %}

<div class="product-with-colors" id="ProductSection-{{ section.id }}" 
     data-section-id="{{ section.id }}" 
     data-section-type="product" 
      data-enable-history-state="{% if template.suffix == 'quick-view' %}false{% else %}true{% endif %}"
     data-enable_linked_options="{{ section.settings.enable_linked_options }}"
     data-show_preOrder_btn="{{settings.show_preOrder_btn}}"
     data-show_pick_an_option="{{ section.settings.show_pick_an_option }}">

  {% if show_breadcrumbs %}
  {% render 'breadcrumbs' product:product %}
  {% endif %}

  
  
  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {%- assign product_thumb_size = '110x110' -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}


  {% assign thumbnails_type = section.settings.thumbnails_type %}
  {% assign thumbnails_size = section.settings.thumbnails_size %}

  {% assign show_thumbnails = true %}

  {% if thumbnails_type == 'none' %}
  {% assign show_thumbnails = false %}
  {% endif %}

  {% assign enable_thumbnail_slides = false %}
  {% if thumbnails_type == 'carousel' %}
  {% assign enable_thumbnail_slides = true %}
  {% endif %}


  {% case section.settings.media_size %}
  {% when 'small' %}
  {%- assign product_media_width = 'medium-up--one-third' -%}
  {%- assign product_description_width = 'medium-up--two-thirds' -%}
  {%- assign height = 345 -%}
  {% when 'medium' %}
  {%- assign product_media_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--one-half' -%}
  {%- assign height = 530 -%}
  {% when 'large' %}
  {%- assign product_media_width = 'medium-up--two-thirds' -%}
  {%- assign product_description_width = 'medium-up--one-third' -%}
  {%- assign height = 720 -%}
  {% when 'full' %}
  {%- assign product_media_width = '' -%}
  {%- assign product_description_width = '' -%}
  {%- assign height = 1090 -%}
  {% endcase %}
   
  
  {% assign enable_alts = false %}
  {% for media in product.media %}
  {%- assign media_alt = media.alt -%}

  {%- if media.alt contains '#' -%}
    {%- assign is_media_group = true -%}
    {%- assign alt_parts = media.alt | split: '#' -%}

    {%- assign media_group_parts = alt_parts.last | split: '_' -%}

    {%- assign downcase_group_option = media_group_parts.first | strip | downcase -%}

    {%- assign downcase_group_value = media_group_parts.last | strip | downcase -%}

 
    {%- for option in product.options -%}
    {%- assign downcase_option = option | downcase -%}

      {%- if downcase_option == downcase_group_option -%}
      {% assign enable_alts = true %}
      {% break %}
      {% endif %}
    {% endfor %}
  {%- endif -%}
  {% endfor %}

  {% assign enabled_mobile_sticky_btns = section.settings.enabled_mobile_sticky_btns %}

  {% if template.suffix == 'quick-view' %}
  {% assign enabled_mobile_sticky_btns = false %}
  {% endif %}


  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="grid__item product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>

 
      <div class='product-single__media__carousel {% if enable_image_zoom %} product_image__zoom {% endif %}' data-product-main-slider data-flickity-config='{{ flickity_options }}' >
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
        {% assign enable_alts = false %}
         

        {%- for image in product.images -%}
            {% unless image.attached_to_variant? %}
              <div class='product-single__media__slide  ' data-media-id="{{ image.id }}" data-media-index="{{ forloop.index0 }}">
                <div
     
                style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"
                   class="product-single__media image_type {% if product.image.size > 1 %} product-single__media--has-thumbnails{% endif %}"
                   data-image-width='{{ image.width }}'
                   data-image-height='{{ image.height }}'
                   data-image-id="{{ image.id }}"
                   data-image-url='{{ image | img_url:"2000x" }}'
        
               >
                  <img src="{{ image |  img_url: 'master' }}" />
                  </div>
              </div>
            {% endunless %}
        {%- endfor -%}
        {%- for media in product.media -%}
            {% unless media.media_type == 'image' %}
                <div class='product-single__media__slide  ' data-media-id="{{ media.id }}" data-media-index="{{ forloop.index0 }}">
                    {% include 'media', media: media, height: height, image_scale: product_image_scale %}
                </div>
            {% endunless %}
        {%- endfor -%}

       

      </div>

      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

      {%- if first_3d_model -%}
      <button
              aria-label="{{ 'products.product.view_in_space_label' | t }}"
              class="product-single__view-in-space"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden
              >
        {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
      </button>
      {%- endif -%}


      {% if show_thumbnails %}
      {% include 'thumbnails-gallery' %}
      {% endif %}
      


    </div>
    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta {% if enabled_mobile_sticky_btns %}  {% endif %}">

        {% capture "form_classes" -%}
        product-form product-form-{{ section.id }}
        {%- if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
              {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
        {%- endcapture %}
            {% form 'product', product, class:form_classes, data-product-form: '' %}

            {%  assign  show_default_variant_input  = true %}  

        {% for block in section.blocks %}
        {% case block.type %}

        {%  when 'stock' %}
          {%if customer %}
          <div class="stock-avl">
            {% if product.available == true %}
            <span class="sa-svg">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4163 9.5C17.4163 13.8723 13.8719 17.4167 9.49967 17.4167C5.12742 17.4167 1.58301 13.8723 1.58301 9.5C1.58301 5.12775 5.12742 1.58334 9.49967 1.58334C13.8719 1.58334 17.4163 5.12775 17.4163 9.5ZM7.42741 8.7629C7.524 8.80439 7.61135 8.8647 7.68438 8.94031L8.70801 9.96394L11.315 7.35698C11.388 7.28136 11.4753 7.22105 11.5719 7.17956C11.6685 7.13807 11.7724 7.11623 11.8775 7.11532C11.9826 7.11441 12.0869 7.13444 12.1842 7.17424C12.2815 7.21405 12.3699 7.27283 12.4442 7.34716C12.5185 7.4215 12.5773 7.50989 12.6171 7.60718C12.6569 7.70447 12.677 7.80872 12.676 7.91384C12.6751 8.01895 12.6533 8.12284 12.6118 8.21942C12.5703 8.31601 12.51 8.40336 12.4344 8.47639L9.26771 11.6431C9.11925 11.7915 8.91793 11.8748 8.70801 11.8748C8.49808 11.8748 8.29676 11.7915 8.1483 11.6431L6.56496 10.0597C6.48935 9.9867 6.42904 9.89934 6.38755 9.80276C6.34606 9.70617 6.32422 9.60229 6.32331 9.49717C6.32239 9.39205 6.34242 9.28781 6.38223 9.19051C6.42204 9.09322 6.48082 9.00483 6.55515 8.9305C6.62948 8.85617 6.71787 8.79738 6.81517 8.75758C6.91246 8.71777 7.01671 8.69774 7.12182 8.69865C7.22694 8.69957 7.33082 8.72141 7.42741 8.7629Z" fill="#68C090"/>
              </svg>
            </span>
            <span class="sa-text">In Stock</span> 
            {% else %}
            <span>Out of Stock</span>
            {% endif %}
          </div>
        {% endif %}

        {%  when 'product_type' %}
          <div class="product-type">{{ product.type }}</div>

               {%  when 'complementary' %}

          {%  assign enable_quick_add = block.settings.enable_quick_add %}
          
      <div class='complementary-products' 
          data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary">
   
          {%  if block.settings.block_heading != blank %}
          <h5 class='complementary-products-heading h5'>{{  block.settings.block_heading }}</h5>
            {%  endif %}

          
          {% assign products_per_page =  block.settings.products_per_page | times: 1 %}
  		{% assign recommendations_products_size = recommendations.products | size %}


          {%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
 "cellAlign": "left",
  "autoPlay": false,
  "pageDots": false
}
{%- endcapture -%}

                  <div class='complementary-products-slider_custom_arrows slider_custom_arrows'>
          <a href="javascript:void(0)" id='complementary_button_prev_{{section.id}}' class='button-prev btn btn--circle-arrow' aria-label="Previous" aria-describedby="button previous">
            {% include 'icon' with 'tail-left' %}
          </a>
          <a href="javascript:void(0)" id='complementary_button_next_{{section.id}}' class='button-next btn btn--circle-arrow' aria-label="Next" aria-describedby="button next">
            {% include 'icon' with 'tail-right' %}
          </a>
        </div>
          
        <div class='complementary-products-slider  {% if settings.align_height %} use_align_height {% else %} use_image_height {% endif %}' data-flickity-config='{{ flickity_options }}'>
           {%- if recommendations.performed and recommendations.products_count > 0 -%}
          {%- assign max_height = 250 -%}

             <div class=" complementary_grid">
              <div class='complementary_products_slide'>
      {%- for prod in recommendations.products limit: block.settings.product_list_limit offset: continue -%}
     {% assign modulo_index = forloop.index | modulo:products_per_page %}
           
              {% include 'product-card-item', enable_quick_add: enable_quick_add, block:block,isComplementary_product: true,list: true, max_height: max_height, product: prod, show_vendor: false,products_per_row: 1 %}
         
        {%  if modulo_index == 0  and recommendations_products_size != forloop.index %}
             </div>
   <div class='complementary_products_slide'>
          {%  endif %}
      {%  endfor %}
   </div>
         </div>
                        {% endif %}             
          </div>
          
          </div>

          
        {% when "@app" %}
        {% render block %}

           {% when 'product_price' %}

            {% if shop.customer_accounts_enabled %}
              {% if customer %}

           <div class="product__price">
            {% include 'product-price', variant: current_variant, product: product %}
          </div>
          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
          <div class="product__policies rte" data-product-policies>
            {%- if cart.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </div>
          {%- endif -%}

        <div class='shopify-payment-terms'>
          {{ form | payment_terms }}
        </div>

          {%endif %}
        {%endif %}

        {% when 'local_pickup' %}

         {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>

        
        <div
             class="product-single__store-availability-container"
             data-store-availability-container
             data-product-title="{{ product.title | escape }}"
             data-has-only-default-variant="{{ product.has_only_default_variant }}"
             data-base-url="{{ shop.url }}{{ routes.root_url }}"
             >
        </div>
        
         
        {% when 'product_title' %}
        <h1 class=" product-single__title h3">
          
          {% if template.suffix == 'quick-view' %}
          <a href="{{ product.url}}">   {{ product.title }}   </a>
          {% else %}
             {{ product.title }}     
          {% endif %}
            
        </h1>
        
        
        {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-text" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "general.accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%}
        
       
        {% when 'product_description' %}

        {% if block.settings.desc_display == 'default' %}
          {% if product.description.size > 500 %}
            <div class="product-description-short">
            {{ product.description }}
            </div>
            <a class="readmore readmore-description"  href="" >Read More</a>
            {% else %}
            <div class="rte product-single__description main-product-description-{{ section.id }}" >
              {{ product.description }}
            </div>
          {% endif %} 
        {% else %}
          {% assign show_product_desc_full_width = true %}
        {% endif %} 
         
        {% when 'product_buttons' %}

{% if product.has_only_default_variant %}          
{% if shop.customer_accounts_enabled %}
  {% if customer %}
    {%- if product.gift_card? and block.settings.show_gift_card_recipient -%}
    <div class="form_bg_row">
      <div class="gift-card-recipient">
        <div class="gift-card-recipient__checkbox">
        <input id="send_gift_card_to_recipient" type="checkbox" name="properties[__shopify_send_gift_card_to_recipient]">
        <label for="send_gift_card_to_recipient">{{'gift_cards.recipient.checkbox' | t }}</label>
        </div>

        <div class="gift-card-recipient__fields">
          <div class="form-vertical">
          <input class="gift-card-recipient-field gift-card-recipient-field-email" type="email" name="properties[Recipient email]" placeholder="{{ 'gift_cards.recipient.email_label' | t }}">
          <input class="gift-card-recipient-field" type="text" name="properties[Recipient name]" placeholder="{{ 'gift_cards.recipient.name_label' | t }}">
          <textarea class="gift-card-recipient-field" rows="3" maxlength="200" name="properties[Recipient message]" placeholder="{{ 'gift_cards.recipient.message_label' | t }}"></textarea>
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}

  <div class="product-form__controls-group {%  if enabled_mobile_sticky_btns %} product-form-sticky-parent {%  endif %} product-form__controls-group--submit {% if hide_price0_box_and_button %} hide {% endif %}">

    <div class="product-form__item product-form__item--submit {%- if block.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}">

      {% if request.page_type != 'password' %} 

        <button type="submit" name="add"
          {% unless current_variant.available %} aria-disabled="true"{% endunless %}
          aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{% if show_preOrderButton %}{{ 'products.product.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endunless %}"
          class="btn product-form__cart-submit btn--primary"
          data-add-to-cart>

          <span data-add-to-cart-text>
          {% unless current_variant.available %}
          {{ 'products.product.sold_out' | t }}
          {% else %}
          {% if show_preOrderButton %}
            {{ 'products.product.pre_order' | t }}
          {% else %}
            {{ 'products.product.add_to_cart' | t }}
          {% endif %}
          {% endunless %}
          </span>

          {%- render 'icon', icon: cart_icon_style -%}
          <span class="hide" data-loader>

          {% include 'icon-spinner' %}

          </span>
        </button>
      {% endif %}

      {% if block.settings.enable_payment_button %}
        {{ form | payment_button }}
      {% endif %}

    </div>
    <a href="#" class="wishlist-btn">+ Add To Favourites</a>

    <div class='pre_order_text {% unless show_preOrderButton %} hide {% endunless %}'>
    {{ 'products.product.pre_order_text' | t }}
    </div>

  </div>

  <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}" data-error-message-wrapper role="alert">
    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
    {% include 'icon-error' %}
    <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
  </div>

  <p class="visually-hidden" data-loader-status
  aria-live="assertive"
  role="alert"
  aria-hidden="true"
  >{{ 'products.product.loader_label' | t }}</p>

  {% else %}
    <a href="{{ routes.account_login_url }}" class="btn product-form__cart-submit btn--primary"><span>{{ 'products.product.login_to_see_price' | t }}</span></a>
    {% comment %} <a href="#" class="wishlist-btn">+ Add To Favourites</a> {% endcomment %}
  {% endif %}

{% endif %}
{% endif %}


        {% when 'product_vendor'%}
        <div class="price__vendor">
          <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
           {{product.vendor | link_to_vendor}}

          </div>

        {% when 'show_share_buttons' %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}


        {% when 'inventory_qty' %}
          
        {% assign show_inventory_quantity = true %}
        {% assign low_inventory_threshold = block.settings.low_inventory_threshold %}
        <div class='inventory_qty_info'>                

          <div class="product-form__info-content">
            {%- if current_variant.available -%}
            {%- if current_variant.inventory_management and current_variant.inventory_policy == 'deny' and block.settings.low_inventory_threshold > 0 -%}
            {%- if current_variant.inventory_quantity <= block.settings.low_inventory_threshold -%}

            {% assign text = 'products.product.low_stock_with_quantity_count' | t: count: current_variant.inventory_quantity %}
            {% assign icon = 'exclamation' %}
            {% assign type = 'warning'  %}

            {%- else -%}
            {% assign text = 'products.product.in_stock_with_quantity_count' | t: count: current_variant.inventory_quantity %}
            {% assign icon = 'check' %}
            {% assign type = 'success' %}

            {%- endif -%}
            {%- else -%}

            {% assign text = 'products.product.in_stock' | t %}
            {% assign icon = 'check' %}
            {% assign type = 'success' %}

            {%- endif -%}
            {%- else -%}

            {% assign text = 'products.product.out_of_stock' | t %}
            {% assign icon = 'x' %}
            {% assign type = 'danger' %}

            {%- endif -%}

            <div class="product-form__inventory">
              <div class="product-form__inventory-icon">
                <div class="product-form__inventory-icon-base">
                 
                   <load-icon name="box"></load-icon>
                  
                </div>
                <div class="product-form__inventory-icon-status text-{{ type }}">
                  <load-icon name="{{icon}}"></load-icon>
                </div>
              </div>
              <div class="product-form__inventory-text h6">{{ text }}</div>
            </div>
          </div>


        </div>

             {%  when 'form_popup' %}       
               {%  assign show_form_popup = true %}

              {%  assign link_alignment = block.settings.link_alignment %}
              {%  assign link_color = block.settings.link_color %}
          {%  assign underline_link_title = block.settings.underline_link_title %}

                    
        <div class='form_popup_link_wrapper text-{{ link_alignment }}'>
              {%  if block.settings.link_title  != blank %}
          <a href="#form_popup__{{ block.id }}" class="form_popup_link form_popup_link__{{ block.id }}">
                 {%  if block.settings.icon != blank %}
                <load-icon name="{{block.settings.icon}}"></load-icon>
                  {%  endif %}
                <span class="{%  if underline_link_title %}link_underline{%  endif %}">{{  block.settings.link_title }}</span>
               
                </a>
                {%  endif  %}

                    {%  if link_color != blank %}
          <style>
           .form_popup_link__{{ block.id }}:not(:hover) span {
              color: {{ link_color }};
            }
          </style>
          {%  endif %}
        </div>
        
        {% when 'quantity_block' %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              {% if product.has_only_default_variant %}
          <div class='form_bg_row quantity_block'>
            <div class='product_quantity_info_container'>
              <div class='qty_container'>
                <label class='header' for="Quantity-{{ block.id }}">{{ 'products.product.quantity' | t }}:</label>
                <div class="qty product-page-qty">
                  <a href='javascript:void(0);' class="minus_btn qty_btn" ></a>
                  <input type="text" id="Quantity-{{ block.id }}"
                         name="quantity" value="1" min="1" pattern="[0-9]*"
                         class="product-form__input product-form__input--quantity"
                         data-quantity-input>
                  <a href='javascript:void(0);' class="plus_btn qty_btn" ></a>
                </div>
              </div>   
              <div class="qty-tooltip-wrap">
                <div class="qty-tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z" stroke="#362323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 12V9" stroke="#362323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 6H9.0075" stroke="#362323" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>    
              <div class="qty-tooltip-content">
                {{ product.metafields.custom.quantity_notes | default: "Quantity Notes" }}
              </div>      
            </div>
          </div>
            {% endif %}
          {% endif %}
        {% endif %}
        
        {% when 'product_options_block' %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
        {% unless product.has_only_default_variant %}

          {% comment %} {%  assign  show_default_variant_input  = false %}  
        <div class="product-form__controls-group product_options_block_wrapper">
          {% for option in product.options_with_values %}
          <div class="selector-wrapper js product-form__item">
            <label class="header" for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input single_option_{{option.name | downcase}}_selector-{{ section.id }}" 
                    id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" 
                    data-option-name='{{ option.name | downcase }}'
                    data-index="option{{ forloop.index }}">
              {% for value in option.values %}
              <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}
        </div> {% endcomment %}
 
        {% comment %} {% if block.settings.show_product_swatches %}
          {% if template.suffix != 'quick-view' %} 
            {% assign use_variant_image_for_swatches = block.settings.use_variant_image_for_swatches %}
          {%  else %}
          {% assign use_variant_image_for_swatches = settings.use_variant_image_for_grid_swatches %}
          {% endif %}
          <div class='product_swatches'>
            {% for option in product.options %}
              {% include 'swatch' with option %}
            {% endfor %}
          </div>
        {% endif %} {% endcomment %}

        {% comment %} <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
          {% for variant in product.variants %}
          <option value="{{ variant.id }}"
                 
                  data-inventory_management="{{variant.inventory_management}}"
                  data-inventory_policy="{{variant.inventory_policy}}"
                  data-inventory_quantity="{{variant.inventory_quantity}}"
                 
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                  >
            {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    </option>
          {% endfor %}
        </select> {% endcomment %}

      {% endunless %}

      {% endif %}
    {% endif %}
	
        {% when 'sku_block' %}
        <p class='product_sku'  {% if current_variant.sku == blank %} style="display:none;" {% endif %}>{{ 'products.product.sku' | t }} <span class='variant-sku'> {{ current_variant.sku }}</span></p>

        {% when 'image_with_text_blocks' %}
        
        {% assign image_with_text_blocks_color = block.settings.icon_color %}
        
        <div class='image_with_text_blocks'>
          {% for i in (1..4) %}

          {% capture link_handle %}link_{{i}}{% endcapture %}
          {% capture text_handle %}text_{{i}}{% endcapture %}
          {% capture image_handle %}image_{{i}}{% endcapture %}
          {% capture show_block_handle %}show_block_{{i}}{% endcapture %}
          {% capture icon_handle %}icon_{{i}}{% endcapture %}

          {% assign link = block.settings[link_handle] %}
          {% assign text = block.settings[text_handle] %}
          {% assign image = block.settings[image_handle] %}
          {% assign icon_name = block.settings[icon_handle] %}
          
          {% assign show_block = block.settings[show_block_handle] %}

          {% if i == 1 %}
          {% assign show_block = true %}
          {% endif %}
          
          {% if show_block  %}
          <div class='block'>
            {% if link != blank %}
            <a href='{{link}}'>
              <div class='block_content'>
                {% if image != blank %}
                <img src='{{ image | img_url:"200x"}}' 
                     srcset="{{ image | img_url: '200x' }} 1x, {{ image | img_url: '200x', scale: 2 }} 2x"
                     loading="lazy"
                     width="{{image.width}}"
                     height="{{image.height}}"
                     alt='{{image.alt | default: text }}' 
                     style="object-position:{{ image.presentation.focal_point }};"> 
                {% else %}
                
                 <load-icon name="{{ icon_name }}"></load-icon>
                {% endif %}
                {% if text != blank %}
                <p>{{text}}</p>
                {% endif %}
              </div>

            </a>
            {% endif %}


          </div>
          {% endif %}
          {% endfor %}
        </div> 
        
        {% when 'back_in_stock' %}
        <div class='back_in_stock_row {% if current_variant.available %} hide {% endif %}' data-id="{{ 'ContactForm_' | append: product.id }}">

          <div class='back_in_stock_response'></div>
         <label for="back_in_stock_custom_formInput-{{ product.id }}" ><span class='h5'>{{ 'products.product.notify_me_heading' | t }}</span></label>
          <div class='back_in_stock_custom_form'>
            <input type="email"
          id="back_in_stock_custom_formInput-{{ product.id }}"
                   class="Form__Input  input-group__field"
                   value="{{ form.email }}"
                   placeholder="{{ 'products.product.email_placeholder' | t }}"
                   autocorrect="off"
                   autocapitalize="off"
                   >

            <span class="input-group__btn-wrapper">
              <button  class="btn btn--primary back_in_stock_btn" >
                  {% include 'icon' with 'check' %}
              </button>
            </span>
          </div>

        </div>
        
        
        {% else %}
          {% if block.type contains 'collapsible_tab' %}

        
       		 {% assign type = block.type | replace: 'collapsible_tab_', '' %}

            {%- case type -%}

            {%- when 'text' -%}
            <div class='product_description_accrordion {{type}}'>
              <div class='product_accordion__block'>
                <span class="product_accordion__heading h5">
                  {{ block.settings.heading  }}
                </span>
                <div class='product_accordion__content'>
                  <div class="rte">
                    {{ block.settings.content }}
                  </div>
                </div>
              </div>
            </div>

            {%- when 'page' -%}
            <div class='product_description_accrordion {{type}}'>
              <div class='product_accordion__block'>
                <span class="product_accordion__heading h5">
                  {{ block.settings.heading | default: block.settings.page.title  }}
                </span>
                <div class='product_accordion__content'>
                  <div class="rte">
                    {{ block.settings.page.content }}
                  </div>
                </div>
              </div>
            </div>

            {%- when 'desc' -%}
            {% if product_description_in_static_tab == false %}
        	{% assign expanded_by_default = block.settings.expanded_by_default %}        
            <div class='product_description_accrordion {{ type}} '>
              <div class='product_accordion__block'>
                <span class="product_accordion__heading h5 {% if expanded_by_default %} active {% endif %}">
                  {{ block.settings.heading   }}
                </span>
                <div class='product_accordion__content {% if expanded_by_default %} active {% endif %}'>
                  <div class="rte">
                    {{ product.description }}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
        
            {%- when 'reviews' -%}
            <div class='product_description_accrordion {{ type }}'>
              <div class='product_accordion__block'>
                <span class="product_accordion__heading h5">
                  {{ block.settings.heading  }}
                </span>
                <div class='product_accordion__content'>
                  <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
                </div>
              </div>
            </div>
        
            {% endcase %}

             
          {% endif %}
        
        {% endcase %}
        {% endfor %}


        {%  if show_default_variant_input %} 
              <input type="hidden" name="id" value="{{  current_variant.id }}" />
          {%  endif %}
          {% endform %}

        </div>

      </div>
    </div>
  
  {% if show_product_desc_full_width %}
  {% for block in section.blocks %}
  {% if block.type == 'product_description' %}
  <div class="rte product-single__description main-product-description-{{ section.id }} full_product-single__description" >
    {{ product.description }}
  </div>
  {% break %}
  {% endif %}
  {% endfor %}
  {% endif %}
  
  {% if template.suffix != 'quick-view' %}  
  {% if show_static_tabs %}
  {% assign static_tab_title_index = 1 %}
  {% assign static_tab_text_index = 1 %}
  <div class="tabs-wrap-outer">
    <div class="tabing small--hide">
      <div id="tabs-wrap" class="tabs-wrap">
        <ul class="nav nav-tabs">
        
          {% for block in section.blocks %}
          {% if block.type contains 'static_tab' %}


          {%if block.type != 'static_tab_product_option' %}
          <li {% if static_tab_title_index==1 %}class="active" {% endif %}>
            <a href="#tab{{static_tab_title_index}}" data-toggle="tab">
          
              {% assign type = block.type | replace: 'static_tab_', '' %}
              {% if type == 'page' %}
              {{ block.settings.tab_title | escape | default: block.settings.page.title }}
              {% else %}
              {{ block.settings.tab_title | escape }}
              {% endif %}

            </a>
            </li>
            {% assign static_tab_title_index = static_tab_title_index | plus: 1 %}
            {% else %}


          {% unless product.has_only_default_variant %}
          <li {% if static_tab_title_index==1 %}class="active" {% endif %}>
            <a href="#tab{{static_tab_title_index}}" data-toggle="tab">
          
              {% assign type = block.type | replace: 'static_tab_', '' %}
              {% if type == 'page' %}
              {{ block.settings.tab_title | escape | default: block.settings.page.title }}
              {%else %}
              {{ block.settings.tab_title | escape }}
              {% endif %}
          
            </a>
          </li>
          {% assign static_tab_title_index = static_tab_title_index | plus: 1 %}
          {% endunless %}
          {% endif %}

          {% endif %}
          {% endfor %}
          
          </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="tab-content">

          {% for block in section.blocks %}
          {% if block.type contains 'static_tab' %}

          {% capture tab_pane_option %}

          {% assign type = block.type | replace: 'static_tab_', '' %}

          {%- case type -%}
          {%- when 'text' -%}
          <div class="tab-pane {% if static_tab_text_index == 1 %} active {% endif %}" id="tab{{ static_tab_text_index }}">
            <div class="rte">
              {% if block.settings.product_tab_content != '' %}
              {{ block.settings.product_tab_content }}
              {% else %}
              {% comment %} <p>{{ 'products.general.tab_no_page' | t }}</p> {% endcomment %}
              {% endif %}
            </div>
          </div>

          {%- when 'page' -%}
          <div class="tab-pane {% if static_tab_text_index == 1 %} active {% endif %}" id="tab{{ static_tab_text_index }}">
            <div class="rte">
              {% if block.settings.page.content != '' %}
              {{ block.settings.page.content }}
              {% else %}
              {% comment %} <p>{{ 'products.general.tab_no_page' | t }}</p> {% endcomment %}
              {% endif %}
            </div>
          </div>
          {%- when 'desc' -%}
          <div class="tab-pane {% if static_tab_text_index == 1 %} active {% endif %}" id="tab{{ static_tab_text_index }}">
            <div class="rte">
              {{ product.description }}
            </div>
          </div>
          {%- when 'reviews' -%}

          <div class="tab-pane {% if static_tab_text_index == 1 %} active {% endif %}" id="tab{{ static_tab_text_index }}">
            <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
          </div>

          {%- when 'product_option' -%}

            <div class="tab-pane product-options{% if static_tab_text_index == 1 %} active {% endif %}"
              id="tab{{ static_tab_text_index }}">
              <div class="rte">

              <div class='product_swatches product-single__meta'>
              
                {% assign bind_products = product.metafields.custom.group_product_variant.value %}
                {% assign all_option = product.options %}
                {% assign all_product = product %}

                {% for bind_product in bind_products %}
                {% assign all_product = all_product | concat:bind_product %}
                {% assign all_option = all_option | concat:bind_product.options %}

                {% endfor %}

                {% assign product_options = all_option | join: ',' | downcase | split: ',' %}
                {% if product_options contains 'color'%}
                {% render 'swatch' with 'Color', swatch_id:'swatch_color', type: 'no-cross' %}
                {%elsif product_options contains 'colour'%}
                {% render 'swatch' with 'Colour', swatch_id:'swatch_colour', type: 'no-cross' %}
                {% endif %}

                <div class="variant-option-search__field">
                  <label>Filter Product</label>
                  <input class="search-input-class search-input-class-desk" placeholder="Filter by Colour, Finish and Size" type="text" name="Options">
                  <span class="s-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                      <path
                        d="M8.70833 15.5417C12.2061 15.5417 15.0417 12.7061 15.0417 9.20833C15.0417 5.71053 12.2061 2.875 8.70833 2.875C5.21053 2.875 2.375 5.71053 2.375 9.20833C2.375 12.7061 5.21053 15.5417 8.70833 15.5417Z"
                        stroke="#362323" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M16.6249 17.125L13.1812 13.6812" stroke="#362323" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      </span>
                      </div>
                      </div>

              <div class="variant-headers {% if customer  %}{% else %}no-cst{% endif %}">
                <div class="vh-clr"></div>
                <div class="vh-sku">{{ 'products.product.sku_col_name' | t }}</div>
                <div class="vh-desc">{{ 'products.product.desc_col_name' | t }}</div>
                <div class="vh-size">{{ 'products.product.size_col_name' | t }}</div>
                {% if customer %}
                <div class="vh-stock">{{ 'products.product.stock_col_name' | t }}</div>
                <div class="vh-price">{{ 'products.product.price_col_name' | t }}</div>
                {% endif %}
                <div class="vh-qty">{{ 'products.product.qty_col_name' | t }}</div>
                <div class="vh-qty"></div>
              </div>
              <div class='container-variant'>

                {% assign group_products = product.metafields.custom.group_product_variant.value %}

                {% assign all_variant = product.variants %}

                {% comment %} {% assign use_variant_image_for_swatches = block.settings.use_variant_image_for_swatches %} {% endcomment %}

                {% for group_product in group_products %}

                  {% assign all_variant = all_variant | concat:group_product.variants %}

                {% endfor %}

              {% for variant in all_variant %}
              
              {% render 'product-varient-item', list: true, variant_product: variant.product, variant: variant %}
              {% endfor %}

              </div>
              </div>
              </div>
              {% endcase %}

          {% endcapture %}


          {%if block.type != 'static_tab_product_option' %}
          {{ tab_pane_option }}
          {% assign static_tab_text_index = static_tab_text_index | plus: 1 %}

          {% else %}
          {% unless product.has_only_default_variant %}

            {{ tab_pane_option }}
            {% assign static_tab_text_index = static_tab_text_index | plus: 1 %}

          {% endunless %}
          {% endif %}


          {% endif %}
          {% endfor %}
          
          
          </div>
          </div>
          </div>
  </div>

  <div class='product_description_accrordion medium-up--hide'>

    {% for block in section.blocks %}
    {% if block.type contains 'static_tab' %}

     {% assign type = block.type | replace: 'static_tab_', '' %}

    {% capture tab_accordion_option %}
    <div class='product_accordion__block'>
      <span class="product_accordion__heading h5">
        {% if type == 'page' %}
        {{ block.settings.tab_title | escape  | default: block.settings.page.title }}
        {% else %}
        {{ block.settings.tab_title | escape }}
        {% endif %}
      </span>


      <div class='product_accordion__content'>
        {%- case type -%}
        {%- when 'text' -%}
         <div class="rte">
          {% if block.settings.product_tab_content != '' %}
          {{ block.settings.product_tab_content }}
          {% else %}
          <p>{{ 'products.general.tab_no_page' | t }}</p>
          {% endif %}
        </div>
        {%- when 'page' -%}
        <div class="rte">
          {% if block.settings.page.content != '' %}
          {{ block.settings.page.content }}
          {% else %}
          <p>{{ 'products.general.tab_no_page' | t }}</p>
          {% endif %}
        </div>
        {%- when 'desc' -%}
         <div class="rte">
          {{ product.description }}
        </div>
        {%- when 'reviews' -%}
         <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
         
        {%- when 'product_option' -%}  

        <div class="rte">
          <div class="variant-option-search__field">
            <label>Filter Product</label>
            <input class="search-input-class search-input-class-mob" placeholder="Filter by Colour, Finish and Size" type="text"
              name="Options">
            <span class="s-icon s-icon-mob">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                <path
                  d="M8.70833 15.5417C12.2061 15.5417 15.0417 12.7061 15.0417 9.20833C15.0417 5.71053 12.2061 2.875 8.70833 2.875C5.21053 2.875 2.375 5.71053 2.375 9.20833C2.375 12.7061 5.21053 15.5417 8.70833 15.5417Z"
                  stroke="#362323" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.6249 17.125L13.1812 13.6812" stroke="#362323" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </div>
          <div class='product_swatches product-single__meta'>
            {% assign product_options = product.options | join: ',' | downcase | split: ',' %}
            {% if product_options contains 'color'%}
              {% render 'swatch' with 'Color',  swatch_id:'swatch_color', type: 'no-cross' %}
            {%elsif product_options contains 'colour'%}
            {% render 'swatch' with 'Colour',  swatch_id:'swatch_colour', type: 'no-cross'  %}
            {% endif %}
          </div> 

        <div class='container-variant cv-mob'>
          {% assign group_products = product.metafields.custom.group_product_variant.value %}
          {% assign all_variant = product.variants %}

          {% comment %} {% assign use_variant_image_for_swatches = block.settings.use_variant_image_for_swatches %}
          {% endcomment %}
          {% for group_product in group_products %}
          {% assign all_variant = all_variant | concat:group_product.variants %}

              {% endfor %}

            {% for variant in all_variant %}
            {% render 'product-varient-item-mob', list: true, variant_product: variant.product, variant: variant %}
            {% endfor %}
          </div>
        
        </div>      
        
        {% endcase %}

      </div>
    </div>

    {% endcapture %}

    {%if  block.type != 'static_tab_product_option' %}
             
      {{ tab_accordion_option }}

    {% else %}
    {% unless product.has_only_default_variant %}

      {{ tab_accordion_option }}

    {% endunless %}
    {% endif %}


    {% endif %}
    {% endfor %}    
  </div>
  {% endif %}
  {% endif %}

  
  
  <script type="application/json" data-product-json>
    {
     "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "lowInventoryThreshold": {{ low_inventory_threshold | json }},
      "selected_variant_id": {{ current_variant.id }}
       {%- if show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}

            {%- if variant.available -%}
            {%- if variant.inventory_management and variant.inventory_policy == 'deny' and low_inventory_threshold > 0 -%}
            {%- if variant.inventory_quantity <= low_inventory_threshold -%}

            {% assign text = 'products.product.low_stock_with_quantity_count' | t: count: variant.inventory_quantity %}
            {% assign icon = 'exclamation' %}
            {% assign type = 'warning'  %}

            {%- else -%}
            {% assign text = 'products.product.in_stock_with_quantity_count' | t: count: variant.inventory_quantity %}
            {% assign icon = 'check' %}
            {% assign type = 'success' %}

            {%- endif -%}
            {%- else -%}

            {% assign text = 'products.product.in_stock' | t %}
            {% assign icon = 'check' %}
            {% assign type = 'success' %}

            {%- endif -%}
            {%- else -%}

            {% assign text = 'products.product.out_of_stock' | t %}
            {% assign icon = 'x' %}
            {% assign type = 'danger' %}

            {%- endif -%}
                        

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ text | json }},
              "inventory_icon": {{ icon | json }},
              "inventory_type": {{ type | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        }
      {%- endif -%}
      
    }
  </script>

    {% if enable_alts %}
  <div class='hide'>
    <div class='all_media__block'>
      {%- for media in product.media -%}
      {% if media.media_type == 'image' %}
      <div class='product-single__media__slide'>
        {% include 'media', media: media, featured_media: featured_media, height: height, image_scale: product_image_scale %}
      </div>
      {% endif %}
      {%- endfor -%}
    </div>
    
    {% if show_thumbnails %}
    <div class='all_thumb_media__block'>
      {% for media in product.media %}
      {% if media.media_type == 'image' %}
      {% include 'thumb_media' %}
      {% endif %}
      {% endfor %}

     
    
    </div>
    {% endif %}

  </div>
  {% endif %}
  
</div>


{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
</script>

<script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
</script>
{% endunless %}


<style>
  #ProductSection-{{ section.id }} .product-single__thumbnails-block {
    width: calc(100% / {{thumbnails_size}});
  }

</style>


<div class='hidden_contactForm'>
    {%- assign formId = 'ContactForm_' | append: product.id -%}
    {% form 'contact', id: formId %}
    
    <div class='form-status'>
      {% include 'form-status', form: form, form_id: formId %}
    </div>


  <input type="hidden" id="contant_form_current_variant_title" name="contact[variant-title]" value="{{ current_variant.title }}" />
  <input type="hidden" id="contant_form_current_variant_sku" name="contact[variant-sku]" value="{{ current_variant.sku }}" />

               

        <input class='contact-form_email'
               type="email"
               name="contact[email]"
               value="{% if customer %}{{ customer.email }}{% endif %}"              
               >

    <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

    {% endform %}
</div>




{%  if show_form_popup  %}
{%  for block in section.blocks %}
  {%  if block.type == 'form_popup' %}

    {%  assign image = block.settings.image %}
    {%  assign page_handle = block.settings.page %}
    {%  assign content = block.settings.content %}

  
      <div class='form_popup modal' id="form_popup__{{ block.id }}" aria-hidden="true">
  <div class="modal__dialog modal__dialog--stretch" role="dialog">
    <button class="modal__close close_form_popup"
            title="{{ 'general.accessibility.close_modal' | t | escape }}">
      {%- render 'icon', icon: 'close' -%}
    </button>
    <div class="modal__inner ">

      <div class='page-width-small'>
      {%  if image != blank and content == 'image' %}
        <div class='modal__inner_media_wrapper'>
     
     
                <img src='{{ image | img_url:"300x"}}' 
                     srcset="{{ image | img_url: '1000x' }} 1x, {{ image | img_url: '1000x', scale: 2 }} 2x, {{ image | img_url: '1000x', scale: 3 }} 3x"
                     loading="lazy"
                     width="{{image.width}}"
                     height="{{image.height}}"
                     alt='{{image.alt | default: text }}' 
                     style="object-position:{{ image.presentation.focal_point }};"> 
        
        </div>
        {%  endif %}

    {%  if page_handle != blank and content == 'page' %}
      {%  assign modal_page = pages[page_handle] %}
      {%  if modal_page.content != blank %}
    <div class="modal__inner_page_content rte">
        {{  modal_page.content }}
    </div>
        {%  endif %}
      {%  endif %}

      
      </div>
    </div>
  </div>
        
      </div>
    {%  endif  %}
  {%  endfor %}
  {%  endif %}


  
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    preOrder: {{ 'products.product.pre_order' | t | json }},
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Brand",
    "name": {{ product.vendor | json }}
  },
  "size": [
    {% for value in product.options_by_name['Size'].values %}
      {

        "@type": "QuantitativeValue",
        "unitCode": "MMT",
        "value": "{{ value |  remove: 'mm' }}" 
      } {%  unless forloop.last %} , {% endunless %}  
    {% endfor %}  
  ],
    "color": [{% for value in product.options_by_name['Colour'].values %} "{{ value }}"  {%  unless forloop.last %} , {% endunless %} {% endfor %}],
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "itemCondition":"https://schema.org/NewCondition",
        "description" : "{{ variant.metafields.custom.short_description }}" ,
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

<style>

  #ProductSection-{{ section.id }} .image_with_text_blocks .block svg {
      color: {{ image_with_text_blocks_color }};
    }
  </style>
<script type="module" src="{{ 'dynamic-icon.js' | asset_url }}"></script>

<script> 
        {% if product.tags contains 'child' %}
          // Get the current URL
          const currentUrlRedirect = new URL(window.location.href);

          // Extract the pathname from the URL
          const pathname = currentUrlRedirect.pathname;

          // Define a regular expression to specifically target '/products/{product-name}-1'
          const regex = /\/products\/([^\/]+)-1$/;

          // Check if the pathname matches the pattern
          if (regex.test(pathname)) {
            // Replace '-1' with '' where it appears after '/products/'
            const updatedPathname = pathname.replace(regex, '/products/$1');

            // Construct the updated URL
            const updatedUrl = currentUrlRedirect.origin + updatedPathname + currentUrlRedirect.search;

            // Redirect to the updated URL
            window.location.href = updatedUrl;
          }
        {% endif %}
</script>



{% schema %}
{
  "name": "Product with Colors",
  "tag": "section",
  "class": "section-product-template",
  "settings": [
		{
		"type":"checkbox",
		"id":"show_breadcrumbs",
		"label":"t:sections.product-template.settings.show_breadcrumbs.label",
		"default": true
		},
	{
	"type":"checkbox",
	"id":"show_pick_an_option",
	"label":"t:sections.product-template.settings.show_pick_an_option.label",
	"info":"t:sections.product-template.settings.show_pick_an_option.info",
	"default": false
	},
{
	"type":"checkbox",
	"id":"enable_linked_options",
	"label":"t:sections.product-template.settings.enable_linked_options.label",
	"info":"t:sections.product-template.settings.enable_linked_options.info",
	"default": false
	},
{
	"type":"checkbox",
	"id":"enabled_mobile_sticky_btns",
	"label":"t:sections.product-template.settings.enabled_mobile_sticky_btns.label",
	"default": true
	},
    {
      "type": "header",
      "content": "t:sections.product-template.settings.header__2.content",
      "info": "t:sections.product-template.settings.header__2.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "t:sections.product-template.settings.media_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.product-template.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.product-template.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.product-template.settings.media_size.options__3.label"
        },
        {
          "value": "full",
          "label": "t:sections.product-template.settings.media_size.options__4.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "t:sections.product-template.settings.enable_image_zoom.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.product-template.settings.enable_video_looping.label",
      "default": true
    },
	{
      "type": "select",
      "id": "thumbnails_type",
      "label": "t:sections.product-template.settings.thumbnails_type.label",
		"options": [
		{
          "value": "grid",
          "label": "t:sections.product-template.settings.thumbnails_type.options__1.label"
		},
		{
          "value": "carousel",
          "label": "t:sections.product-template.settings.thumbnails_type.options__2.label"
		},
		{
          "value": "none",
          "label": "t:sections.product-template.settings.thumbnails_type.options__3.label"
		}
	],
	"default":"grid"
	},
{
      "type": "range",
      "id": "thumbnails_size",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "t:sections.product-template.settings.thumbnails_size.label",
      "default": 4
    }
  ],
"blocks": [ 
  {
      "type": "@app"
    },
    { 
      "type": "product_type",
      "name": "Product Type",
      "settings": []
    },
    {
      "type": "stock",
      "name": "Stock Availability",
      "settings": []
    },
{	
    "type":"collapsible_tab_desc",
    "name":"t:sections.product-template.blocks.collapsible_tab_desc.name",
    "settings": [
	 {
          "id": "heading",
          "type": "text",
          "label": "t:sections.product-template.blocks.collapsible_tab.settings.heading.label",
          "default": "Accordion (description)"
        },
		{
          "id": "expanded_by_default",
          "type": "checkbox",
          "label": "t:sections.product-template.blocks.collapsible_tab_desc.settings.expanded_by_default.label"
        }
	]
    },
{	
    "type":"collapsible_tab_page",
    "name":"t:sections.product-template.blocks.collapsible_tab_page.name",
    "settings": [
	 {
          "id": "heading",
          "type": "text",
          "info": "t:sections.product-template.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.product-template.blocks.collapsible_tab.settings.heading.label",
           "default": "Accordion (page)"
        },
     	{
          "id": "page",
          "type": "page",
          "label": "t:sections.product-template.blocks.collapsible_tab.settings.page.label"
        }
	]
    },
{	
    "type":"collapsible_tab_reviews",
    "name":"t:sections.product-template.blocks.collapsible_tab_reviews.name",
    "settings": [
	 {
          "id": "heading",
          "type": "text",
          "info": "t:sections.product-template.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.product-template.blocks.collapsible_tab.settings.heading.label",
          "default": "Accordion (reviews)"
        }

	]
    },
{	
    "type":"collapsible_tab_text",
    "name":"t:sections.product-template.blocks.collapsible_tab_text.name",
    "settings": [
	 {
          "id": "heading",
          "type": "text",
          "info": "t:sections.product-template.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.product-template.blocks.collapsible_tab.settings.heading.label",
           "default": "Accordion (text)"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "t:sections.product-template.blocks.collapsible_tab.settings.content.label"
        }
    
	]
    },

{
	"type":"back_in_stock",
	"name":"t:sections.product-template.blocks.back_in_stock.name",
	"settings": []
	},
{	
		"type":"product_buttons",
		"name":"t:sections.product-template.blocks.product_buttons.name",

	 "settings": [
	  {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "t:sections.product-template.blocks.product_buttons.settings.enable_payment_button.label",
      "info": "t:sections.product-template.blocks.product_buttons.settings.enable_payment_button.info",
      "default": true
    },
       {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "t:sections.product-template.blocks.product_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.product-template.blocks.product_buttons.settings.show_gift_card_recipient.info",
          "default": true
        }
]
	},
   {
      "type": "complementary",
      "name": "t:sections.product-template.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.product-template.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "t:sections.product-template.blocks.complementary_products.settings.heading.label"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.product-template.blocks.complementary_products.settings.product_list_limit.label"
        },
        {
          "type": "range",
          "id": "products_per_page",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3,
          "label": "t:sections.product-template.blocks.complementary_products.settings.products_per_page.label"
        },
        {
          "type": "header",
          "content": "t:sections.product-template.blocks.complementary_products.settings.product_card.heading"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "label": "t:sections.product-template.blocks.complementary_products.settings.enable_quick_add.label",
          "default": false
        }
      ]
    },
{	
    "type":"local_pickup",
    "name":"t:sections.product-template.blocks.local_pickup.name",
    "settings": []
    },
{
      "type": "rating",
      "name": "t:sections.product-template.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.product-template.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    	{
	"type":"form_popup",
	"name":"t:sections.product-template.blocks.form_popup.name",
	"settings": [
      {
      "type":"text",
        "id":"link_title",
        "label": "t:sections.product-template.blocks.form_popup.settings.link_title.label",
        "default": "Popup link"
      },
      {
        "type":"checkbox",
        "id":"underline_link_title",
        "label": "t:sections.product-template.blocks.form_popup.settings.underline_link_title.label",
        "default":true
      },
      {
        "type":"text",
        "id":"icon",
        "label": "t:sections.product-template.blocks.form_popup.settings.icon.label",
        "info": "t:sections.product-template.blocks.form_popup.settings.icon.info"
      },
             {
      "type":"color",
        "id":"link_color",
        "label": "t:sections.product-template.blocks.form_popup.settings.link_color.label",
         "default":"#000"
      },
      {
      "type":"select",
        "id":"link_alignment",
        "label": "t:sections.product-template.blocks.form_popup.settings.link_alignment.label",
                "options": [
        {
          "value": "left",
          "label": "t:sections.product-template.blocks.form_popup.settings.link_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.product-template.blocks.form_popup.settings.link_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.product-template.blocks.form_popup.settings.link_alignment.options__3.label"
        }
      ],
              "default":"left"
      },
                  {
      "type":"select",
        "id":"content",
        "label": "t:sections.product-template.blocks.form_popup.settings.content.label",
        "options": [
        {
          "value": "image",
          "label": "t:sections.product-template.blocks.form_popup.settings.content.options__1.label"
        },
        {
          "value": "page",
          "label": "t:sections.product-template.blocks.form_popup.settings.content.options__2.label"
        }
      ],
              "default":"image"
      },

       {
      "type":"image_picker",
        "id":"image",
        "label": "t:sections.product-template.blocks.form_popup.settings.image.label"
      },
            {
      "type":"page",
        "id":"page",
        "label": "t:sections.product-template.blocks.form_popup.settings.page.label"
      }
       
    ]
    },
{	
    "type":"product_price",
    "name":"t:sections.product-template.blocks.product_price.name",
    "settings": []
    },
    {	
    "type":"product_title",
    "name":"t:sections.product-template.blocks.product_title.name",
    "settings": []
    },
	{
		"type":"product_description",
		"name":"t:sections.product-template.blocks.product_description.name",
	 "settings": [

    {
      "type": "select",
      "id": "desc_display",
      "label": "t:sections.product-template.blocks.product_description.settings.desc_display.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.product-template.blocks.product_description.settings.desc_display.options_1.label"
        },
        {
          "value": "full_width",
          "label": "t:sections.product-template.blocks.product_description.settings.desc_display.options_2.label"
        }
      ],
      "default": "default"
    }
	]
	},


	{
		"type":"product_vendor",
		"name":"t:sections.product-template.blocks.product_vendor.name",
	 "settings": []
	},
	
    {
      "type":"quantity_block",
      "name":"t:sections.product-template.blocks.quantity_block.name",
      "settings": [
    ]
    },
{
	"type":"sku_block",
	"name":"t:sections.product-template.blocks.sku_block.name",
	"settings": []
	},
{
		"type":"show_share_buttons",
		"name":"t:sections.product-template.blocks.show_share_buttons.name",
	 "settings": []
	},
 {	
    "type":"static_tab_desc",
    "name":"t:sections.product-template.blocks.static_tab_desc.name",
    "settings": [
	 {
          "id": "tab_title",
          "type": "text",
          "label": "t:sections.product-template.blocks.static_tab.settings.tab_title.label",
          "default": "Decsription"
        }
	]
    },
    {	
    "type":"static_tab_page",
    "name":"t:sections.product-template.blocks.static_tab_page.name",
    "settings": [
	 {
          "id": "tab_title",
          "type": "text",
          "label": "t:sections.product-template.blocks.static_tab.settings.tab_title.label",
           "default": "Title"
        },
     	{
          "id": "page",
          "type": "page",
          "label": "t:sections.product-template.blocks.static_tab.settings.page.label"
        }
	] 
    },
{	
    "type":"static_tab_reviews",
    "name":"t:sections.product-template.blocks.static_tab_reviews.name",
    "settings": [
	 {
          "id": "tab_title",
          "type": "text",
          "label": "t:sections.product-template.blocks.static_tab.settings.tab_title.label",
          "default": "Reviews"
        }

	]
    },
    {	
      "type":"static_tab_product_option",
      "name":"t:sections.product-template.blocks.static_tab_product_option.name",
      "settings": [
     {
            "id": "tab_title",
            "type": "text",
            "label": "t:sections.product-template.blocks.static_tab.settings.tab_title.label",
            "default": "Product Options"
          }
  
    ]
      },
    {	
    "type":"static_tab_text",
    "name":"t:sections.product-template.blocks.static_tab_text.name",
    "settings": [
	 {
          "id": "tab_title",
          "type": "text",
          "label": "t:sections.product-template.blocks.static_tab.settings.tab_title.label",
          "default": "Title"
        },
        {
          "id": "product_tab_content",
          "type": "richtext",
          "label": "t:sections.product-template.blocks.static_tab.settings.product_tab_content.label"
        }
    
	]
    },

	{
		"type":"inventory_qty",
		"name":"t:sections.product-template.blocks.inventory_qty.name",
		"settings": [
      {
      "type": "range",
      "id": "low_inventory_threshold",
      "label": "t:sections.product-template.blocks.inventory_qty.settings.low_inventory_threshold.label",
      "info": "t:sections.product-template.blocks.inventory_qty.settings.low_inventory_threshold.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
      }
	]
	},


{
	"type":"image_with_text_blocks",
  "name":"t:sections.product-template.blocks.image_with_text_blocks.name",
  "limit": 1,
  "settings": [
        {
         "type":"color",
         "id":"icon_color",
         "label": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon_color.label",
		     "default":"#000"
        }, 
        {
          "type": "header",
          "content": "t:sections.product-template.blocks.image_with_text_blocks.content_1"
        },
	      { 
          "type": "text",
          "id": "icon_1",
          "label": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.label",
					"info":  "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.info",
          "default": "star"
        },

	{
	"type":"image_picker",
	"id":"image_1",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.image.label_1"
	},
	{
	"type":"text",
	"id":"text_1",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.text.label_1"
	},
	{
	"type":"url",
	"id":"link_1",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.link.label_1"
	},
{
      "type": "header",
      "content": "t:sections.product-template.blocks.image_with_text_blocks.content_2"
    },
{
		"type":"checkbox",
		"id":"show_block_2",
		"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.show_block.label"
	},
	{
                    "type": "text",
                    "id": "icon_2",
                    "label": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.label",
					"info": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.info",
                    "default": "star"
                },
{
	"type":"image_picker",
	"id":"image_2",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.image.label_2"
	},
	{
	"type":"text",
	"id":"text_2",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.text.label_2"
	},
	{
	"type":"url",
	"id":"link_2",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.link.label_2"
	},
{
      "type": "header",
      "content": "t:sections.product-template.blocks.image_with_text_blocks.content_3"
    },
{
		"type":"checkbox",
		"id":"show_block_3",
		"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.show_block.label"
	},
	{
                    "type": "text",
                    "id": "icon_3",
                    "label": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.label",
					"info": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.info",

                    "default": "star"
                },

{
	"type":"image_picker",
	"id":"image_3",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.image.label_3"
	},
	{
	"type":"text",
	"id":"text_3",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.text.label_3"
	},
	{
	"type":"url",
	"id":"link_3",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.link.label_3"
	},
{
      "type": "header",
      "content": "Trust icon 4"
    },
{
		"type":"checkbox",
		"id":"show_block_4",
		"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.show_block.label"
	},
	{
                    "type": "text",
                    "id": "icon_4",
                    "label": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.label",
					"info": "t:sections.product-template.blocks.image_with_text_blocks.settings.icon.info",

                    "default": "star"
                },

{
	"type":"image_picker",
	"id":"image_4",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.image.label_3"
	},
	{
	"type":"text",
	"id":"text_4",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.text.label_3"
	},
	{
	"type":"url",
	"id":"link_4",
	"label":"t:sections.product-template.blocks.image_with_text_blocks.settings.link.label_3"
	}

	]
	},
	{
	"type":"product_options_block",
	"name":"t:sections.product-template.blocks.product_options_block.name",
	"settings": [
		{
	"type":"checkbox",
	"id":"show_product_swatches",
	"label":"t:sections.product-template.blocks.product_options_block.settings.show_product_swatches.label",
	"info":"t:sections.product-template.blocks.product_options_block.settings.show_product_swatches.info",
	"default": true
	},
		{
	"type":"checkbox",
	"id":"use_variant_image_for_swatches",
	"label":"t:sections.product-template.blocks.product_options_block.settings.use_variant_image_for_swatches.label",
	"default": false
	}
]
	}
	]
}
{% endschema %}
 